.about-page__head {
    margin-bottom: 60px;
    line-height: 1.5;
    p {
        font-size: 32px;
        @include media-laptop {
            font-size: 30px;
        }
        @include media-tablet-horizontal {
            font-size: 26px;
        }
    }
    @include media-tablet-horizontal {
        margin-bottom: 50px;
    }
}

.about-page__head-picture {
    margin-bottom: 130px;
    @include media-laptop {
        margin-bottom: 100px;
    }
    @include media-tablet-horizontal {
        margin-bottom: 70px;
    }
}

.about-page-numbers {
    display: flex;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

.about-page-numbers__block {
    position: relative;
    width: 50%;
    padding: 50px;
    &:first-child {
        padding-left: 0;
        &:after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            background-color: #c5c5c5;
            height: 80%;
        }
    }
    &:last-child {
        padding-right: 35px;
        @include media-tablet-horizontal {
            padding-right: 0;
        }
    }
    p {
        font-size: 18px;
        @include media-laptop {
            font-size: 17px;
        }
    }
    @include media-tablet-horizontal {
        padding: 50px 40px;
    }
}

.about-page-numbers__count {
    p {
        color: $color-blue;
        font-size: 110px;
        margin-bottom: 25px;
        @include media-laptop {
            font-size: 90px;
        }
        @include media-tablet-horizontal {
            font-size: 70px;
        }
    }

    span {
        font-size: 24px;
        margin-left: 20px;
        @include media-laptop {
            font-size: 22px;
        }
        @include media-tablet-horizontal {
            font-size: 20px;
        }
    }
}

.about-page-numbers__text {
    line-height: 1.5;
}
