.about {
    padding-top: 200px;
    @include media-laptop {
        padding-top: 180px;
    }
}

.about__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px;
    p {
        font-size: 34px;
        @include media-laptop {
            font-size: 30px;
        }
    }
    @include media-laptop {
        margin-bottom: 60px;
    }
}

.about__title {
    display: flex;
    // align-items: center;
    flex: 1 0 auto;
    margin-right: 135px;
}
