.about__head {
    display: flex;
    margin-bottom: 70px;

    .title-inner {
        align-items: center;
        margin-bottom: auto;

        @include media-tablet-horizontal {
            margin-bottom: 40px;
        }
    }

    p {
        font-size: 30px;

        @include media-laptop {
            font-size: 26px;
        }

        @include media-tablet-horizontal {
            font-size: 24px;
        }
    }

    .container-aside {
        @include media-tablet-horizontal {
            font-size: 26px;
            max-width: 100%;
        }
    }

    button {
        display: none;
        align-self: flex-start;
    }



    @include media-laptop {
        margin-bottom: 60px;
    }

    @include media-tablet-horizontal {
        flex-direction: column;
        margin-bottom: 50px;
    }
}