.advantage {
    padding-top: 200px;
    padding-bottom: 200px;
    @include media-laptop {
        padding-top: 180px;
        padding-bottom: 180px;
    }
    @include media-tablet-horizontal {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    @include media-tablet {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    @include media-mobile {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.advantage__slick-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    margin-bottom: 200px;
    .slick-slider {
        position: static;
    }
    @include media-tablet-horizontal {
        margin-bottom: 167px;
    }
    @include media-tablet {
        margin-bottom: 140px;
    }
    @include media-mobile {
        flex-direction: column;
        // margin-bottom: 100px;
        margin-bottom: 0;
    }
}

.advantage__nav {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 428px;
    width: 100%;
    flex: 1 0 auto;
    padding-bottom: 50px;
    span {
        z-index: -1;
        position: absolute;
        width: 90%;
        height: 100%;
        left: 0;
        top: 0;
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            top: 0;
            left: 0;
            height: 1px;
            background-color: #c4c4c4;
            @include media-mobile {
                // display: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 1px;
            background-color: #c4c4c4;
            @include media-mobile {
                // display: none;
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 80%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #c4c4c4;
        @include media-tablet-horizontal {
            height: 90%;
        }
    }
    @include media-tablet {
        max-width: 340px;
    }
    @include media-mobile {
        // height: 427px;
        // position: absolute;
        display: none;
    }
}

.slick-advantage__arrow {
    width: 79px;
    @include media-laptop {
        width: 67px;
    }
    @include media-tablet-horizontal {
        width: 60px;
    }
    @include media-mobile {
        width: 56px;
    }
}

.advantage__pagination {
    display: flex;
    margin-top: auto;
    @include media-mobile {
        // position: absolute;
        // bottom: 0;
        // left: 0;
    }
}
