.advantage-tabs {
    display: flex;
    .container {
        padding: 0;
        max-width: 100%;
        @include media-tablet-horizontal {
            padding: 0 55px;
        }
        @include media-tablet {
            padding: 0 40px;
        }
    }
    @include media-mobile {
        display: none;
    }
}

.advantage-tabs__picture {
    width: 50%;
    flex: 1 0 auto;
    img {
        object-fit: cover;
        height: 100%;
    }
    &.hide {
        display: none;
    }
    &.show {
        display: block;
    }
    @include media-tablet-horizontal {
        display: none !important;
    }
}

.advantage-tabs__tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px;
    border-bottom: 1px solid #c5c5c5;
    & * {
        pointer-events: none;
    }
    h3 {
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 20px;
        @include media-laptop {
            font-size: 30px;
        }
        @include media-tablet-horizontal {
            font-size: 28px;
        }
        @include media-tablet {
            font-size: 26px;
        }
    }
    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        @include media-laptop {
            font-size: 17px;
        }
    }
    &.active {
        background-color: #f1f1f1;
        @include media-tablet-horizontal {
            background-color: transparent;
        }
    }
    &:last-child {
        border-bottom: none;
    }
    @include media-laptop {
        padding: 40px 75px;
    }
    @include media-tablet-horizontal {
        padding-left: 0;
        padding-right: 0;
    }
}

.advantages-tabs__tab-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    padding: 0;
    max-width: 100%;
    @include media-mobile {
        // display: none;
    }
}
