.advantage-tabs {
    display: flex;

    .container {
        padding: 0;
        max-width: 100%;

        @include media-tablet-horizontal {
            // padding: 0 55px;
            padding: 0; //water.pug
        }

        // @include media-tablet {
        //     padding: 0 40px;
        // }
    }

    @include media-tablet-horizontal {
        display: none;
    }

    &--mode {
        @include media-tablet-horizontal {
            display: flex;
        }

        @include media-mobile {
            display: none;
        }
    }
}

.advantage-tabs__picture {
    width: 50%;
    flex: 1 0 auto;
    border: 1px solid #c5c5c5;

    img {
        object-fit: cover;
        height: 100%;


        @include media-laptop {
            // transform: scale(0.8);
        }

        &.img--mode {
            object-fit: contain;
        }
    }

    &.hide {
        display: none;
    }

    &.show {
        display: block;
    }

    @include media-tablet-horizontal {
        // display: none;
    }
}

.advantage-tabs__tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 50px 100px;
    border-bottom: 1px solid #c5c5c5;

    & * {
        pointer-events: none;
    }

    h3 {
        margin-bottom: 20px;

        @include media-tablet-horizontal {
            margin-bottom: 0;
        }
    }

    p {
        line-height: 1.5;
    }

    &.active {
        background-color: #f1f1f1;

        @include media-tablet-horizontal {
            // background-color: transparent; //water.pug
        }
    }

    &:last-child {
        border-bottom: none;
    }

    @include media-laptop {
        padding: 40px 70px;
    }

    @include media-tablet-horizontal {
        padding-left: 0;
        padding-right: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 60px;

    }
}

.advantages-tabs__tab-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    padding: 0;
    max-width: 100%;
}