.advantage {
    overflow: hidden;
}

.advantage__slick-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;

    // margin-bottom: 200px;
    .slick-slider {
        position: static;
    }

    @include media-tablet-horizontal {
        // margin-bottom: 167px;
        margin-bottom: 0;
    }

    // @include media-tablet {
    //     margin-bottom: 140px;
    // }
    @include media-mobile {
        flex-direction: column;
        margin-bottom: 0;
        padding-bottom: 100px;
    }
}

.advantage__nav {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 428px;
    width: 100%;
    flex: 1 0 auto;
    padding-bottom: 50px;

    span {
        z-index: -1;
        position: absolute;
        width: 90%;
        height: 100%;
        left: 0;
        top: 0;

        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            top: 0;
            left: 0;
            height: 1px;
            background-color: #c4c4c4;

            @include media-mobile {
                // display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            bottom: 0;
            left: 0;
            height: 1px;
            background-color: #c4c4c4;

            @include media-mobile {
                // display: none;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 80%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: #c4c4c4;

        @include media-tablet-horizontal {
            height: 90%;
        }
    }

    // @include media-tablet {
    //     max-width: 340px;
    // }
    @include media-tablet-horizontal {
        max-width: 300px;
    }

    @include media-mobile {
        // height: 427px;
        // position: absolute;
        display: none;
    }

    &--index {
        @include media-mobile {
            display: block;
            position: absolute;
            padding-bottom: 0;
            bottom: 0;
            background-color: #fff;
        }
    }
}

.advantage__arrows {
    display: flex;
    margin-top: auto;
}

.advantage__tabs-content {
    .container {
        display: flex;
    }
}