.anchor-btn {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    right: 100px;
    top: -200px;
    path {
        &:first-child {
            fill: #fff;
        }
    }
    &:hover {
        path {
            stroke: $color-blue;
            &:nth-child(2) {
                fill: $color-blue;
            }
        }
    }
    @include media-laptop {
        right: 70px;
        width: 60px;
    }
    @include media-tablet-horizontal {
        right: 55px;
    }
    @include media-tablet {
        right: 40px;
    }
    @include media-mobile {
        right: 15px;
    }
}
