.aside-links {
    position: absolute;
    right: 100px;
    bottom: 0;
    width: 70px;
    a {
        display: block;
        margin-bottom: 20px;
        svg {
            display: block;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            svg {
                path {
                    stroke: rgba(255, 255, 255, 0.5);
                    &:nth-child(2),
                    &:nth-child(3) {
                        fill: rgba(255, 255, 255, 0.5);
                    }
                }
                g {
                    fill: rgba(255, 255, 255, 0.5);
                }
            }
        }
        &.aside-links__link--social {
            @include media-mobile {
                display: none;
            }
        }
    }
    @include media-laptop {
        right: 70px;
        width: 60px;
        @include media-tablet-horizontal {
            right: 55px;
        }
        // @include media-tablet {
        //     right: 40px;
        // }
        @include media-mobile {
            right: 15px;
        }
    }
    @include media-tablet-horizontal {
        width: 55px;
    }
}

.aside-links__link {
    &--basket {
        position: absolute;
        top: 50%;
        right: 100px;
        transform: translateY(-50%);
        width: 70px;
        height: 70px;
        @include media-laptop {
            right: 70px;
            width: 60px;
            height: 60px;
        }
        @include media-tablet-horizontal {
            right: 55px;
            width: 55px;
            height: 55px;
        }
        // @include media-tablet {
        //     right: 40px;
        // }
        @include media-mobile {
            width: 50px;
            height: 50px;
            right: 15px;
            top: 90px;
            transform: none;
        }
    }
    &:hover {
        svg {
            path {
                stroke: rgba(255, 255, 255, 0.5);
                &:nth-child(2),
                &:nth-child(3) {
                    fill: rgba(255, 255, 255, 0.5);
                }
            }
            g {
                fill: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
