.breadcrumbs {
    margin-top: 150px;
    margin-bottom: 20px;
    ul {
        display: flex;
        align-items: center;

        color: #d6d7df;
        li {
            margin-right: 10px;
            a {
                font-size: 16px;
                @include media-tablet-horizontal {
                    font-size: 15px;
                }
            }
        }
        img {
            width: 18px;
            opacity: 0.2;
        }
        .active {
            color: $color-base;
        }
    }
    @include media-tablet-horizontal {
        margin-top: 110px;
    }
}
