.catalog {
    // padding-top: 175px;
    padding-top: 60px;

    @include media-laptop {
        // padding-top: 100px;
        padding-top: 40px;
    }

    @include media-mobile {
        padding-top: 40px;
        // padding-top: 35px;
    }
}

.catalog__title {
    display: inline-flex;
    align-items: center;

    img {
        @include media-mobile {
            margin-left: auto;
        }
    }

    @include media-mobile {
        align-items: flex-start;
        width: 100%;

        .br {
            display: block;
        }
    }

    &--svg {
        @include media-mobile {
            margin-left: auto !important;
        }
    }
}

.catalog__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    svg {
        position: relative;
        z-index: 50;
    }

    // @include media-tablet {
    //     flex-direction: column;
    // }

    @include media-mobile {
        margin-top: -20px;
    }
}

.catalog__content-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    background-color: #f1f1f1;

    &:nth-child(even) {
        .catalog__item {
            position: relative;
            z-index: 11;
            margin-right: auto;
            padding-right: 0;

            @include media-tablet-horizontal {
                padding-left: 55px;
            }

            @include media-tablet {
                padding: 30px 0
            }

            // @include media-tablet {
            //     margin-right: 0;
            //     padding-left: 0;
            // }

        }
    }

    &:nth-child(odd) {
        .catalog__item {
            margin-left: auto;
            padding-left: 0;

            // @include media-tablet {
            //     margin-left: 0;
            //     padding-right: 0;
            // }
        }
    }

    &.active,
    &:hover {
        .catalog__content-picture {
            display: none;
        }

        .catalog-item__number {
            color: $color-blue;
        }

        .catalog-item__title {
            color: $color-base;
        }

        svg {
            path {
                stroke: #ffffff;

                &:first-child {
                    fill: #ffffff;
                }
            }
        }

        .catalog-item__arrow {
            display: block;
        }

        .catalog__overlay {
            display: block;
        }
    }

    // &:nth-child(1),
    // &:nth-child(3) {
    //     &::after {
    //         content: "";
    //         display: block;
    //         position: absolute;
    //         right: 0;
    //         top: 50%;
    //         transform: translateY(-50%);
    //         width: 1px;
    //         height: 90%;
    //         background-color: #c5c5c5;
    //     }
    // }
    &:nth-child(odd) {
        &::after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 90%;
            background-color: #c5c5c5;
        }
    }

    // &:nth-child(1),
    // &:nth-child(2) {
    //     &::before {
    //         content: "";
    //         display: block;
    //         position: absolute;
    //         bottom: 0;
    //         left: 50%;
    //         width: 90%;
    //         height: 1px;
    //         background-color: #c5c5c5;
    //         transform: translateX(-50%);
    //     }
    // }
    &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 90%;
        height: 1px;
        background-color: #c5c5c5;
        transform: translateX(-50%);
    }

    &:nth-last-child(2),
    &:last-child {
        &::before {
            display: none;
        }
    }

    &:nth-last-child(2) {
        @include media-mobile {
            &::before {
                display: block;
            }
        }
    }

    &:before {
        @include media-tablet {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 90%;
            height: 1px;
            background-color: #c5c5c5;
            transform: translateX(-50%);
        }
    }

    &:last-child {
        @include media-tablet {
            &::before {
                display: none;
            }
        }
    }

    @include media-tablet {
        width: 100%;
        // height: auto;
        min-height: 139px;
        padding-bottom: 30px;
        padding: 0 40px;
    }

    @include media-mobile {
        padding-left: 15px;
        padding-right: 15px;
        min-height: 173px;
    }
}

.catalog__content-picture {
    // display: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog__tabs {
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    // flex-wrap: wrap;
    margin-bottom: 45px;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    li {
        margin-right: 40px;

        &.active {
            button {
                border-color: $color-blue;
                color: $color-blue;

                svg {
                    path {
                        stroke: $color-blue;
                        fill: $color-blue;
                    }
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }

        @include media-laptop {
            margin-right: 30px;
        }

        @include media-tablet-horizontal {
            margin-right: 30px;
        }

        @include media-mobile {
            margin-right: 20px;
            margin-bottom: 20px;
        }
    }

    button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: 2px solid $color-fiolet;
        height: 70px;
        padding: 0 30px;
        border-radius: 15px;
        cursor: pointer;

        span {
            margin-right: 10px;
            font-size: 18px;
            white-space: nowrap;

            @include media-laptop {
                font-size: 17px;
            }
        }

        svg {
            width: 30px;

            @include media-mobile {
                width: 26px;
            }
        }

        @include media-laptop {
            height: 60px;
        }

        @include media-tablet-horizontal {
            height: 55px;
            padding: 0 25px;
        }

        @include media-mobile {
            height: 50px;
        }
    }

    @include media-laptop {
        font-size: 17px;
    }

    @include media-tablet-horizontal {
        margin-bottom: 30px;
    }
}

.catalog__item {
    // .catalog__content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 420px;
    padding: 40px;
    width: 860px;
    z-index: 10;

    @include media-laptop {
        height: 329px;
        width: 612px;
    }

    @include media-tablet-horizontal {
        height: 291px;
        width: 459px;
        padding: 30px;
    }

    @include media-tablet {
        height: auto;
        width: 100%;
        padding-bottom: 30px;
    }

    @include media-mobile {
        padding-top: 40px;
    }
}

.catalog__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // background-color: rgba(46, 47, 56, 0.2);
    background-color: #f1f1f1;
}

.catalog-item__arrow {
    width: 65px;
    display: none;
    margin-left: auto;
    position: absolute;
    top: 40px;
    right: 40px;

    @include media-laptop {
        width: 55px;
    }

    @include media-tablet-horizontal {
        width: 50px;
    }

    @include media-mobile {
        right: 15px;
    }
}

.catalog-item__title {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    z-index: 50;
    line-height: 1.3;
    // bottom: 43px;
    margin-top: auto;
    color: #fff;

    @include media-laptop {
        font-size: 30px;
        // bottom: 30px;
    }

    @include media-tablet-horizontal {
        font-size: 26px;
    }

    @include media-tablet {
        font-size: 24px;
    }
}

.catalog-item__number {
    // font-size: 24px;
    font-size: 32px;
    position: relative;
    z-index: 50;
    color: #fff;

    @include media-laptop {
        font-size: 30px;
    }

    @include media-tablet-horizontal {
        font-size: 28px;
    }

    @include media-tablet {
        margin-bottom: 0;
        font-size: 26px;
    }

    @include media-mobile {
        // font-size: 18px;
        font-size: 16px;
    }
}