.container-st {
    @include media-laptop {
        // padding-top: 180px;
    }
    @include media-tablet-horizontal {
        // padding-top: 165px;
    }
    @include media-tablet {
        // padding-top: 140px;
    }
    @include media-mobile {
        // padding-top: 100px;
    }
}

.container-st__header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px;
    p {
        font-size: 34px;
        line-height: 1.5;
        a {
            color: $color-blue;
            text-decoration: underline;
        }
        @include media-laptop {
            font-size: 30px;
        }
        @include media-tablet-horizontal {
            font-size: 28px;
        }
        @include media-tablet {
            font-size: 26px;
        }
    }
    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    button {
        display: none;
        font-size: 26px;
        color: $color-blue;
        text-decoration: underline;
        padding: 0;
        border: 0;
        margin-top: 5px;
        background-color: transparent;
        @include media-mobile {
            display: block;
        }
    }
    &--mode {
        margin-bottom: 130px;
    }
    @include media-laptop {
        margin-bottom: 60px;
    }
    @include media-tablet-horizontal {
        flex-direction: column;
        margin-bottom: 50px;
    }
    @include media-laptop {
        margin-bottom: 40px;
    }
}

.container-st__title {
    display: flex;
    flex: 1 0 auto;
    margin-right: 135px;
    @include media-mobile {
        margin-right: 0;
        width: 100%;
    }
}

.container-st__picture {
    @include media-mobile {
        display: none;
    }
}

.container-st__list {
    li {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        margin-bottom: 50px;
        border-bottom: 1px solid #c5c5c5;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .container-st__list-item {
        font-size: 34px;
    }
}

.container-st__items {
    p {
        font-size: 18px;
    }
}

.container-st__btn {
    display: flex;
    margin-top: 50px;
    a {
        font-size: 18px;
        background-image: url("../img/svg/arrow-submit.svg");
        background-position: right 30px top 50%;
        background-size: 30px auto;
        background-repeat: no-repeat;
        line-height: 70px;
        border: 2px solid #30355d;
        border-radius: 15px;
        padding-left: 35px;
        padding-right: 70px;
    }
}