.contacts__address {
    display: flex;
    margin-bottom: 80px;
    @include media-mobile {
        flex-direction: column;
    }
}

.contacts__list {
    width: 50%;
    & > li {
        max-width: 430px;
        width: 100%;
    }
    &:last-child {
        padding-left: 100px;
        @include media-mobile {
            padding-left: 0;
            margin-bottom: 0;
        }
    }
    @include media-mobile {
        width: 100%;
        margin-bottom: 40px;
    }
}

.contacts__list-head {
    font-weight: 400;
    margin-bottom: 10px;
}

.contacts__map {
    height: 620px;
    @include media-laptop {
        height: 440px;
    }
    @include media-tablet-horizontal {
        height: 330px;
    }
}

.contacts__phone {
    display: flex;
    margin-bottom: 130px;
    @include media-laptop {
        margin-bottom: 110px;
    }
    @include media-tablet-horizontal {
        margin-bottom: 70px;
    }
    @include media-mobile {
        flex-direction: column;
    }
}
