.contacts__address {
    display: flex;
    margin-bottom: 80px;
}

.contacts__list {
    width: 50%;
    & > li {
        max-width: 430px;
        width: 100%;
    }
    &:last-child {
        padding-left: 100px;
    }
}

.contacts__list-head {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    @include media-tablet-horizontal {
        font-size: 17px;
    }
}

.contacts__list__address {
    font-size: 32px;
    @include media-laptop {
        font-size: 30px;
    }
    @include media-tablet-horizontal {
        font-size: 26px;
    }
}

.contacts__map {
    height: 620px;
    @include media-laptop {
        height: 440px;
    }
    @include media-tablet-horizontal {
        height: 330px;
    }
}

.contacts__phone {
    display: flex;
    margin-bottom: 130px;
    @include media-laptop {
        margin-bottom: 110px;
    }
    @include media-tablet-horizontal {
        margin-bottom: 70px;
    }
}
