.delivery {
    .container {
        display: flex;
    }
}

.delivery__list {
    li {
        display: flex;
        border-bottom: 1px solid #c5c5c5;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    p {
        line-height: 1.5;
    }
}

.delivery__head {
    font-size: 34px;
    line-height: 1.5;
}

.delivery__little {
    line-height: 1.5;
    max-width: 430px;
    margin-right: 108px;
    flex: 0 1 auto;
}

.delivery__brend {
    display: flex;
    align-items: center;
    width: auto;
    flex: 1 0 auto;
    p {
        width: 50%;
    }
}
