.delivery {
    .container {
        display: flex;
    }
}

.delivery__list {
    li {
        font-size: 18px;
        display: flex;
        border-bottom: 1px solid #c5c5c5;
        padding-bottom: 50px;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
        .delivery__head {
            @include media-laptop {
                font-size: 30px;
            }
        }
        p {
            @include media-laptop {
                font-size: 17px;
            }
        }
    }
    p {
        line-height: 1.5;
    }
}

.delivery__head {
    font-size: 32px;
    line-height: 1.5;
    @include media-laptop {
        font-size: 30px;
    }
}

.delivery__little {
    line-height: 1.5;
    max-width: 430px;
    margin-right: 108px;
    flex: 0 1 auto;
}

.delivery__brend {
    display: flex;
    align-items: center;
    width: auto;
    flex: 1 0 auto;
    p {
        width: 50%;
        @include media-laptop {
            width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    @include media-laptop {
        flex-direction: column;
    }
}
