.documents {
    &--end-block {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.documents__wrapper {
    display: flex;
}

.documents__links {
    padding-top: 20px;
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -60px;
        li {
            // flex: 0 1 auto;
            margin-bottom: 60px;
            width: 50%;
            &:nth-child(even) {
                padding-left: 100px;
                @include media-tablet-horizontal {
                    padding-left: 50px;
                }
            }
            a {
                display: flex;
                align-items: center;

                p {
                    font-size: 18px;
                    // max-width: 320px;
                    // width: 100%;
                    line-height: 1.5;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @include media-laptop {
                        font-size: 17px;
                    }
                }
                svg {
                    max-width: 70px;
                    flex: 1 0 auto;
                    margin-right: 30px;
                    @include media-laptop {
                        max-width: 60px;
                    }
                    @include media-tablet-horizontal {
                        max-width: 55px;
                        margin-right: 20px;
                    }
                }
                &:hover {
                    svg {
                        path {
                            stroke: $color-blue;
                        }
                        text {
                            fill: $color-blue;
                        }
                    }
                }
            }
            @include media-tablet-horizontal {
                margin-bottom: 40px;
            }
        }
        @include media-tablet-horizontal {
            margin-bottom: -40px;
        }
    }
}
