.feedback {
    // padding-bottom: 190px;
    padding-bottom: 0;
    margin-bottom: 0;
    @include media-laptop {
        // padding-bottom: 180px;
    }
    @include media-tablet-horizontal {
        // padding-top: 150px;
        // padding-bottom: 150px;
    }
    @include media-tablet {
        padding-top: 140px;
        // padding-bottom: 140px;
    }
    @include media-mobile {
        padding-top: 100px;
        // padding-bottom: 100px;
    }
}

.feedback__title {
    @include media-laptop {
        margin-right: 233px;
    }
    @include media-tablet-horizontal {
        margin-right: 70px;
    }
}

.feedback__wrapper {
    display: flex;
    justify-content: space-between;
    @include media-tablet {
        flex-direction: column;
    }
}

.feedback__form {
    display: flex;
    flex-direction: column;
    input {
        font-size: 18px;
        border: 2px solid #bdbdbe;
        border-radius: 15px;
        height: 70px;
        padding: 0 30px;
        @include media-laptop {
            height: 60px;
            font-size: 17px;
        }
        @include media-tablet-horizontal {
            font-size: 17px;
            height: 55px;
            padding: 0 25px;
        }
    }
}

.feedback__inputs {
    display: flex;
    margin-bottom: 30px;
    input {
        &:focus {
            outline: none;
            border: 2px solid $color-fiolet;
        }
        &:first-child {
            width: 53%;
            @include media-tablet-horizontal {
                margin-bottom: 20px;
                width: 100%;
                max-width: 286px;
                margin-right: 20px;
            }
            @include media-tablet {
                margin-bottom: 0;
                margin-right: 20px;
                width: 43%;
            }
            @include media-mobile {
                width: 100%;
                margin-bottom: 20px;
            }
        }
        &:last-child {
            flex: 1 0 auto;
            margin-left: 30px;
            @include media-tablet-horizontal {
                margin-left: 0;
            }
            @include media-tablet {
            }
        }
        @include media-tablet-horizontal {
        }
        @include media-tablet {
            flex: 1 0 auto;
        }
        @include media-mobile {
            height: 50px;
        }
    }
    @include media-laptop {
        margin-bottom: 20px;
    }
    @include media-tablet-horizontal {
        // flex-direction: column;
    }
    @include media-tablet {
        flex-direction: row;
    }
    @include media-mobile {
        flex-direction: column;
    }
}

.feedback__consent {
    margin-bottom: 40px;
    font-size: 18px !important;
    line-height: 1.5;
    a {
        text-decoration: underline;
    }
    @include media-laptop {
        font-size: 17px !important;
    }
    @include media-mobile {
        font-size: 15px !important;
    }
}
