.feedback-content__title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 40px;
    line-height: 1.4;
    @include media-laptop {
        font-size: 30px;
    }
    @include media-tablet-horizontal {
        font-size: 26px;
        margin-bottom: 30px;
    }
    @include media-tablet {
        font-size: 26px;
    }
}
