.feedback {
    padding-top: 190px;
    padding-bottom: 190px;
    @include media-laptop {
        padding-bottom: 180px;
    }
    @include media-tablet-horizontal {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    @include media-tablet {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    @include media-mobile {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.feedback__title {
    @include media-tablet-horizontal {
        margin-right: 70px;
    }
}

.feedback__wrapper {
    display: flex;
    justify-content: space-between;
    @include media-tablet {
        flex-direction: column;
    }
}

.feedback__form {
    display: flex;
    flex-direction: column;
    input {
        font-size: 18px;
        border: 2px solid #bdbdbe;
        border-radius: 10px;
        height: 70px;
        padding: 0 30px;
        @include media-laptop {
            height: 65px;
        }
        @include media-tablet-horizontal {
            font-size: 17px;
            height: 55px;
            padding: 0 25px;
        }
    }
}

.feedback__inputs {
    display: flex;
    margin-bottom: 30px;
    input {
        &:focus {
            outline: none;
            border: 2px solid $color-fiolet;
        }
        &:first-child {
            width: 53%;
            @include media-tablet-horizontal {
                margin-bottom: 20px;
            }
            @include media-tablet {
                margin-bottom: 0;
                width: 44% !important;
                margin-right: 20px;
            }
            @include media-mobile {
                width: 100% !important;
            }
        }
        &:last-child {
            flex: 1 0 auto;
            margin-left: 30px;
            @include media-tablet {
                width: auto !important;
            }
        }
        @include media-tablet-horizontal {
            width: 100% !important;
            margin-left: 0 !important;
        }
        @include media-tablet {
            flex: 1 0 auto;
        }
    }
    @include media-tablet-horizontal {
        flex-direction: column;
    }
    @include media-tablet {
        flex-direction: row;
    }
    @include media-mobile {
        flex-direction: column;
    }
}

.feedback__consent {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.5;
    a {
        text-decoration: underline;
    }
    @include media-laptop {
        font-size: 17px;
    }
}

.feedback__submit {
    align-self: flex-start;
    background-image: url("../img/svg/arrow-submit.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 80% center;
    input {
        font-size: 18px;
        background-color: transparent;
        border: 2px solid #30355d;
        padding-right: 80px;
        color: $color-fiolet;
        cursor: pointer;
        @include media-tablet-horizontal {
            font-size: 17px;
        }
    }
}
