.footer {
    padding-top: 70px;
    padding-bottom: 45px;
    background-color: #2e2f38;
    color: #fff;
    line-height: 1.5;
    @include media-laptop {
        padding-top: 60px;
        padding-bottom: 30px;
    }
}

.footer__list {
    margin-bottom: 50px;
    @include media-tablet {
        margin-bottom: 0;
    }
}

.footer__col {
    .br {
        display: block;
    }
    li {
        margin-bottom: 15px;
        &.footer__title {
            font-size: 24px;
            margin-bottom: 25px;
            @include media-laptop {
                font-size: 22px;
            }
            @include media-tablet {
                display: block;
                margin-bottom: 20px;
                font-size: 20px;
            }
        }
        @include media-tablet-horizontal {
            margin-bottom: 10px;
        }
        @include media-tablet {
            display: none;
        }
    }
    &--contacts {
        font-size: 34px;
        flex-direction: column;
        line-height: 1.5;
        p {
            margin-bottom: 60px;
            @include media-tablet-horizontal {
                margin-bottom: 50px;
            }
        }
        @include media-laptop {
            font-size: 30px;
        }
        @include media-tablet-horizontal {
            max-width: 310px;
            font-size: 28px;
        }
        @include media-tablet {
            font-size: 26px;
        }
    }
    &--other {
        font-size: 18px;
        @include media-laptop {
            font-size: 17px;
        }
        @include media-tablet {
            display: none;
        }
    }
    &:nth-child(2) {
        margin-left: auto;
        margin-right: 130px;
        @include media-tablet-horizontal {
            margin-right: 70px;
            width: 155px;
        }
    }
    &:nth-child(3) {
        @include media-tablet-horizontal {
            width: 174px;
        }
    }
    &--tablet {
        display: none;
        .footer__list {
            @include media-mobile {
                display: none;
            }
        }
        @include media-tablet {
            display: block;
            margin-left: auto;
        }
        @include media-mobile {
            margin-left: 0;
        }
    }
}

.footer__social {
    display: flex;
    a {
        width: 70px;
        display: block;
        &:first-child {
            margin-right: 20px;
        }
        @include media-tablet-horizontal {
            width: 55px;
        }
        @include media-tablet {
            width: 50px;
        }
    }
    svg {
        &:hover {
            path {
                stroke: rgba(255, 255, 255, 0.5);
                &:nth-child(2),
                &:nth-child(3) {
                    fill: rgba(255, 255, 255, 0.5);
                }
            }
            g {
                path:first-child {
                    fill: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
    @include media-tablet {
        margin-bottom: 0 !important;
    }
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 100%;
    margin-top: 70px;
    @include media-tablet-horizontal {
        font-size: 17px;
        margin-top: 40px;
    }
    @include media-tablet {
        margin-top: 70px;
    }
    @include media-mobile {
        font-size: 15px;
    }
}

.footer__mail {
    display: flex;
    flex-direction: column;
    a {
        text-decoration: underline;
        &:first-child {
            margin-bottom: 20px;
        }
    }
}

.footer__menu {
    display: none;
    margin-top: 50px;
    span {
        font-size: 26px;
        margin-right: 20px;
    }
    svg {
        width: 50px;
    }
    @include media-mobile {
        display: flex;
        align-items: center;
    }
}
