.header-main {
    position: relative;
    padding-top: 30px;
    padding-bottom: 50px;
    background-image: url("../img/bg/main.jpg");
    background-size: cover;
    background-position: bottom center;
    color: #fff;
    font-size: 18px;
}

.header-main__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main__logo {
    flex: 1 0 auto;
    max-width: 301px;
    @include media-laptop {
        max-width: 229px;
    }
}

.header-main__nav {
    // margin-left: auto;
    ul {
        display: flex;
        li {
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    @include media-laptop {
        display: none;
    }
}

.header-main__contacts {
    li {
        text-align: right;
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            text-decoration: underline;
        }
    }
    @include media-laptop {
        margin-left: auto;
        font-size: 17px;
    }
}

.header-main__slick {
    padding-top: 75px;
    margin-top: 405px;
    padding-bottom: 90px;
    margin-right: 100px;
    @include media-laptop {
        margin-top: 235px;
    }
}

.header-main__fixed-link {
    position: fixed;
    right: -145px;
    top: 25%;
    transform: translateY(-50%) rotate(90deg);
    background-color: $color-blue;
    line-height: 50px;
    border-radius: 10px;
    text-align: center;
    padding: 0 30px;
    z-index: 100;
    @include media-laptop {
        line-height: 41px;
        font-size: 17px;
        top: 19%;
    }
}

.header-main__burger {
    display: none;
    @include media-laptop {
        display: block;
        width: 60px;
        margin-left: 37px;
    }
}
