.inner-content {
    margin-bottom: 200px;
    p {
        @include media-laptop {
            font-size: 30px;
        }
    }
    @include media-laptop {
        margin-bottom: 180px;
    }
    @include media-tablet-horizontal {
        margin-bottom: 150px;
    }
    @include media-tablet {
        margin-bottom: 140px;
    }
    @include media-mobile {
        margin-bottom: 100px;
    }
}

.inner-content__head {
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px;
    p {
        a {
            color: $color-blue;
            text-decoration: underline;
        }
    }
    .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 10;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    button {
        display: none;
        font-size: 26px;
        color: $color-blue;
        text-decoration: underline;
        padding: 0;
        border: 0;
        margin-top: 5px;
        background-color: transparent;
        @include media-mobile {
            display: block;
        }
    }
    &--mode {
        margin-bottom: 130px;
    }
    &--center {
        align-items: center;
    }
    @include media-laptop {
        margin-bottom: 50px;
    }
    @include media-tablet-horizontal {
        flex-direction: column;
        margin-bottom: 50px;
    }
}

.inner-content__submit {
    display: flex;
    margin-top: 50px;
    a {
        font-size: 18px;
        background-image: url("../img/svg/arrow-submit.svg");
        background-position: right 30px top 50%;
        background-size: 30px auto;
        background-repeat: no-repeat;
        line-height: 70px;
        border: 2px solid #30355d;
        border-radius: 15px;
        padding-left: 35px;
        padding-right: 70px;
        &:hover {
            border-color: $color-blue;
            color: $color-blue;
            background-image: url("../img/svg/arrow-submit-hover.svg");
        }
    }
}

.inner-content__picture {
    @include media-mobile {
        display: none;
    }
}
