.list-items__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -77px;
    margin-bottom: -80px;
    li {
        width: calc(100% / 3 - 77px);
        margin-bottom: 80px;
        margin-right: 77px;
        @include media-laptop {
            width: calc(100% / 3 - 55px);
            margin-bottom: 60px;
            margin-right: 55px;
        }
        @include media-tablet-horizontal {
            width: calc(100% / 2 - 115px);
            margin-right: 115px;
            margin-bottom: 50px;
        }
    }
    @include media-laptop {
        margin-right: -55px;
        margin-bottom: -60px;
    }
    @include media-tablet-horizontal {
        margin-right: 0;
        margin-bottom: -50px;
    }
}

.list-items__info-btn {
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    right: 20px;
    top: 20px;
    @include media-laptop {
        width: 50px;
    }
}

.list-items__title {
    font-size: 32px;
    margin-bottom: 35px;
    font-weight: 400;
    @include media-laptop {
        font-size: 30px;
    }
    @include media-tablet-horizontal {
        font-size: 26px;
    }
}

.list-items__item {
    position: relative;
    border: 1px solid #d6d7df;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
    }
    &:hover {
        .ltest-items__item-hide-text {
            opacity: 1;
            visibility: visible;
        }
    }
}

.ltest-items__item-hide-text {
    position: absolute;
    font-size: 18px;
    line-height: 1.5;
    padding: 40px 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s opacity, 0.25s visibility;
    p {
        @include media-laptop {
            font-size: 17px;
        }
    }
    h4 {
        margin-bottom: 30px;
        font-weight: 400;
        @include media-laptop {
            font-size: 17px;
        }
    }
    @include media-tablet-horizontal {
        font-size: 17px;
    }
}
