.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: rgba(195, 195, 195, 0.8);
    z-index: 100;
    &.active {
        display: block;
    }
}

.menu__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    // width: 512px;
    width: 50%;
    right: 0;
    top: 0;
    background-color: #fff;
    // padding-right: 55px;
    padding-right: 60px;
    padding-left: 50px;
    height: 100%;
    .header-main__logo--inner {
        display: none;
    }
    @include media-mobile {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        // flex-wrap: wrap;
        // flex-direction: row;
        .header-main__logo--inner {
            display: block;
        }
    }
}

.menu__close {
    width: 55px;
    height: 55px;
    background-image: url("../img/svg/menu__close.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    @include media-mobile {
        width: 50px;
        height: 50px;
    }
}

.menu__link {
    margin-bottom: 50px;
    a {
        font-size: 30px;
        font-weight: 500;
        @include media-tablet-horizontal {
            font-size: 26px;
        }
        @include media-mobile {
            font-size: 24px;
        }
        &:hover {
            color: $color-blue;
        }
    }
    @include media-tablet-horizontal {
        margin-bottom: 40px;
    }
    @include media-mobile {
        margin-bottom: 30px;
    }
}
.menu__submenu {
    display: flex;
    padding-left: 50px;
    margin-top: 20px;
    a {
        font-size: 17px;
        font-weight: 400;
        line-height: 1.5;
        max-width: 206px;
        &:last-child {
            margin-left: auto;
            @include media-mobile {
                margin-left: 0;
                margin-bottom: 0;
            }
        }
        @include media-tablet-horizontal {
            max-width: 116px;
        }
        @include media-mobile {
            max-width: 100%;
            margin-bottom: 30px;
        }
    }
    @include media-tablet-horizontal {
        padding-left: 60px;
    }
    @include media-mobile {
        flex-direction: column;
        padding-left: 30px;
    }
}

.menu__top {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    @include media-mobile {
        margin-top: 15px;
    }
}
