.missions__item {
    font-size: 32px;
    line-height: 1.5;
    min-height: 127px;
    padding-top: 40px;
    border-top: 1px solid #c5c5c5;
    margin-right: 55px;
    @include media-laptop {
        font-size: 30px;
    }
    @include media-tablet-horizontal {
        font-size: 26px;
    }
}

.missions__arrows {
    display: flex;
    margin-left: auto;
}
