.objects-page__content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -50px;
    margin-bottom: -50px;
    .objects__aside {
        display: block;
        width: calc(100% / 3 - 50px);
        background-color: #f1f1f1;
        padding: 60px 50px;
        padding-bottom: 140px;
        margin-bottom: 50px;
        margin-right: 50px;
        @include media-laptop {
            width: calc(100% / 3 - 40px);
            padding: 50px 40px;
            margin-right: 40px;
            margin-bottom: 40px;
        }
        @include media-tablet-horizontal {
            width: calc(100% / 2 - 55px);
            margin-right: 55px;
            padding: 40px 35px;
        }
        @include media-mobile {
            width: 100%;
            margin-right: 0;
            margin-bottom: 40px;
            padding: 40px 30px;
        }
    }
    @include media-laptop {
        margin-bottom: -40px;
        margin-right: -40px;
    }
    @include media-tablet-horizontal {
        margin-right: 0;
    }
}

.objects-page__selects {
    display: flex;
    margin-bottom: 40px;
    .select-css {
        margin-right: 30px;
        @include media-mobile {
            margin-right: 20px;
        }
        &:first-child {
            @include media-mobile {
                max-width: 40%;
            }
        }
        &:last-child {
            margin-right: 0;
            @include media-mobile {
                max-width: calc(60% - 20px);
            }
        }
    }
    @include media-tablet-horizontal {
        margin-bottom: 30px;
    }
}

.objects-page__address {
    font-weight: 500;
    color: $color-blue;
    margin-bottom: 20px;
    font-size: 18px;
    @include media-laptop {
        // font-size: 17px;
    }
    @include media-tablet-horizontal {
        font-size: 17px;
        margin-bottom: 12px;
    }
}
