.objects {
    background-color: #f1f1f1;
    padding: 100px 0;
    @include media-laptop {
        padding-top: 90px;
        padding-bottom: 130px;
    }
}

.objects__title {
    display: inline-flex;
    align-items: center;
    margin-bottom: 60px;
}

.objects__slick-wrapper {
    display: flex;
    overflow: hidden;
}

.objects__nav {
    display: flex;
    flex: 0 0 540px;
    margin-right: 100px;
    @include media-laptop {
        flex: 0 0 306px;
    }
}

.objects__pagination {
    display: flex;
    margin-top: auto;
}

.objects__aside {
    display: none;
    date {
        font-size: 24px;
        color: $color-blue;
        margin-bottom: 60px;
        display: block;
    }

    h3 {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 50px;
    }

    p {
        text-transform: uppercase;
        position: relative;
        font-size: 18px;
        padding-left: 58px;
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 38px;
            height: 2px;
            background-color: $color-blue;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
    &.active {
        display: block;
    }
}
