.phones__grafik-work {
    background-color: #fff !important;
    @include media-mobile {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.phones__grafik-work-wrapper {
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        li {
            display: flex;
            p {
                width: 50%;
            }
        }
        &:first-child {
            @include media-mobile {
                margin-bottom: 30px;
            }
        }
        @include media-mobile {
            width: 100%;
        }
    }
    @include media-tablet-horizontal {
        max-width: 646px;
    }
    @include media-mobile {
        flex-direction: column;
    }
}
