.phones__grafik-work-wrapper {
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        li {
            font-size: 34px;
            display: flex;
            p {
                width: 50%;
            }
        }
    }
}
