.podbor__wrapper {
    display: flex;

    .container-aside {
        @include media-tablet-horizontal {
            max-width: 100%;
        }
    }

    @include media-tablet-horizontal {
        flex-wrap: wrap;
    }
}

.podbor__submit {
    display: flex;
    margin-top: 50px;

    a {
        background-image: url("../img/svg/arrow-submit.svg");
        background-position: right 30px top 50%;
        background-size: 30px auto;
        background-repeat: no-repeat;
        line-height: 70px;
        height: 70px;
        border: 2px solid #30355d;
        border-radius: 15px;
        padding-left: 35px;
        padding-right: 70px;

        &:hover {
            border-color: $color-blue;
            color: $color-blue;
            background-image: url("../img/svg/arrow-submit-hover.svg");
        }

        @include media-laptop {
            line-height: 60px;
            height: 60px;
        }

        @include media-tablet-horizontal {
            line-height: 55px;
            height: 55px;
            background-size: 21px auto;
            padding-left: 25px;
            padding-right: 60px;
        }
    }
}
