.podbor__wrapper {
    display: flex;
    p {
        font-size: 32px;
        @include media-laptop {
            font-size: 30px;
        }
        @include media-tablet-horizontal {
            font-size: 26px;
        }
    }
    .container-aside {
        @include media-tablet-horizontal {
            max-width: 100%;
        }
    }
    @include media-tablet-horizontal {
        flex-wrap: wrap;
    }
}

.podbor__submit {
    display: flex;
    margin-top: 50px;
    a {
        font-size: 18px;
        background-image: url("../img/svg/arrow-submit.svg");
        background-position: right 30px top 50%;
        background-size: 30px auto;
        background-repeat: no-repeat;
        line-height: 70px;
        border: 2px solid #30355d;
        border-radius: 15px;
        padding-left: 35px;
        padding-right: 70px;
        &:hover {
            border-color: $color-blue;
            color: $color-blue;
            background-image: url("../img/svg/arrow-submit-hover.svg");
        }
        @include media-laptop {
            font-size: 17px;
        }
    }
}
