.principle-uf {
    p {
        @include media-laptop {
            font-size: 17px;
        }
    }

    .show-more {
        display: none;

        @include media-mobile {
            display: flex;
        }
    }
}

.principle-uf__wide {
    background-color: #f1f1f1;
    margin-bottom: 60px;

    p {
        @include media-laptop {
            font-size: 30px;
        }
    }
}

.principle-uf__wide-text {
    font-size: 32px;
}