.principle-uf__wide {
    background-color: #f1f1f1;
    margin-bottom: 60px;
}

.principle-uf__picture {
    margin: 60px 0;
    justify-content: center;
    display: flex;
    img {
        width: 100%;
    }
}

.principle-uf__wide-text {
    font-size: 34px;
}

.principle-uf__text {
    font-size: 18px;
    p {
        margin-bottom: 15px;
    }
}
