.recirculatori__table {
    border-bottom: 1px solid #C5C5C5;
    margin-bottom: 40px;
}

.recirculatori__text {
    margin-bottom: 50px;
    p {
        font-size: 18px;
        margin-bottom: 10px;
    }
}