.show-more {
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button {
        background-color: transparent;
        color: $color-blue;
        text-decoration: underline;
        border: none;
        @include media-laptop {
            font-size: 17px;
        }
    }
    @include media-laptop {
        padding: 20px 0;
    }
}
