ul.submenu {
    // display: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s opacity, 0.25s visibility;
    flex-direction: column;
    position: absolute;
    padding: 30px 25px;
    background-color: #fff;
    color: $color-base;
    border-radius: 15px;
    // margin-top: 25px;
    z-index: 100;
    top: 90px;
    li {
        margin-bottom: 20px;
        white-space: nowrap;
        a {
            padding: 0;
            border-bottom: transparent !important;
            &:hover {
                color: $color-blue;
                border-bottom: transparent !important;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: -9px;
        left: 25px;
        width: 15px;
        height: 10px;
        background-image: url("../img/svg/angle2.svg");
        background-size: cover;
    }
    &--inner {
        border: 1px solid #c5c5c5;
        &::before {
            content: "";
            position: absolute;
            top: -9px;
            left: 25px;
            width: 15px;
            height: 10px;
            background-image: url("../img/svg/angle2-border.svg");
            background-size: cover;
        }
    }
}
