ul.submenu {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 30px 25px;
    background-color: #fff;
    color: $color-base;
    border-radius: 15px;
    // margin-top: 25px;
    z-index: 100;
    top: 100px;
    li {
        margin-bottom: 20px;
        white-space: nowrap;
        a {
            padding: 0;
            border-bottom: transparent !important;
            &:hover {
                color: $color-blue;
                border-bottom: transparent !important;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: -9px;
        left: 25px;
        width: 15px;
        height: 10px;
        background-image: url("../img/svg/angle2.svg");
        background-size: cover;
    }
}
