.system-clear__head {
    display: flex;
    line-height: 1.5;
    margin-bottom: 130px;
    .container-aside {
        font-size: 18px;
    }
}

.system-control__left-block-title {
    font-size: 32px;
    font-weight: 400;
}

.complect-item__description {
    margin-bottom: 60px;
}
