.table {
    display: table;
    width: 100%;

    &+.show-more {
        width: 100%;
    }
}

.table tr {
    font-size: 16px;
    font-weight: 400;
    height: 48px;


    &:last-child {
        td {
            border-bottom: 0;
        }
    }
}

.table th {
    font-weight: 400;
    padding: 30px 50px;
    text-align: left;
}

.table td {
    padding: 20px 50px;
    border-bottom: 1px solid #C5C5C5;
}

.table__caption {
    background-color: #D0D0D0;
    height: 73px;
}