.teh__head {
    padding-bottom: 50px;
    // border-bottom: 1px solid #c5c5c5;
    p {
        font-size: 32px;
        line-height: 1.5;
        a {
            color: $color-blue;
            text-decoration: underline;
        }
        @include media-laptop {
            font-size: 30px;
        }
    }
}

.teh__wrapper {
    border-bottom: 1px solid #c5c5c5;
}

.teh__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;

    h3 {
        font-size: 32px;
        margin-bottom: 40px;
        font-weight: 400;
        @include media-laptop {
            font-size: 30px;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: 30px;
    }
    @include media-laptop {
        padding-bottom: 60px;
    }
}

.teh__input {
    flex: 1 0 auto;
    padding-right: 30px;
    margin-bottom: 30px;
    select {
        width: 100%;
    }
    input {
        font-size: 18px;
        border: 2px solid #bdbdbe;
        border-radius: 15px;
        height: 70px;
        padding: 0 30px;
        width: 100%;

        &:focus {
            outline: 0;
            border: 2px solid #30355d;
        }
        @include media-laptop {
            height: 60px;
        }
    }
    &--big {
        // max-width: 50%;
        max-width: 100%;
        width: 100%;
    }
    &--arrow {
        input {
            background-image: url(../img/svg/arrow-select.svg);
            background-repeat: no-repeat, repeat;
            background-position: right 20px top 50%, 0 0;
            background-size: 17px auto;
        }
    }
}

.teh__message {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 30px;
    textarea {
        font-size: 18px;
        border-radius: 15px;
        border-color: #bdbdbe;
        border: 2px solid #c5c5c5;
        padding: 25px 30px;
        outline: none;
        height: 140px;
        width: 100%;
        resize: none;
        &:focus {
            outline: none;
            border: 2px solid $color-base;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.teh__label {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 30px;
    p {
        font-size: 16px;
        color: #808080;
    }
    a {
        font-size: 18px;
    }
    .br {
        display: block;
    }
}

.teh__file-wrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    &:hover {
        svg {
            g {
                stroke: $color-blue;
            }
        }
    }
}

.teh__file-text {
    margin-right: 25px;
}

.teh__file-icon-btn {
    width: 70px;
}

.teh__add-file {
    margin-left: auto;
    padding-right: 30px;
    a {
        display: flex;
        align-items: center;
        font-size: 18px;
        svg {
            width: 70px;
            margin-left: 20px;
            path {
                stroke: #c5c5c5;
            }
            @include media-laptop {
                width: 60px;
            }
        }
        @include media-laptop {
            font-size: 17px;
        }
    }
    &:hover {
        svg {
            path {
                stroke: $color-blue;
            }
        }
    }
}
