.tehnology-criteria {
    p {
        // font-size: 18px;
        // margin-bottom: 20px;
        a {
            position: relative;
            &:hover {
                .toshow {
                    display: inline;
                }
            }
        }
    }
}
.tehnology-criteria__row {
    margin-bottom: 80px;
    @include media-laptop {
        margin-bottom: 60px;
    }
}

.tehnology-criteria__head {
    font-size: 32px;
    font-weight: 400;

    padding-bottom: 50px;
    display: flex;
    align-items: center;
    .br {
        display: block;
    }
    @include media-laptop {
        font-size: 30px;
    }
}

// .tehnology-criteria__toggle {
//     width: 70px;
//     margin-left: auto;
//     &--minus {
//         display: none;
//     }
// }

.tehnology-criteria__list {
    margin-top: 40px;
    margin-bottom: 40px;
    li {
        position: relative;
        padding-left: 58px;
        margin-bottom: 10px;
        a {
            color: $color-blue;
            text-decoration: underline;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 38px;
            height: 2px;
            background-color: $color-blue;
            left: 0;
            top: 13px;
            @include media-laptop {
                width: 32px;
                top: 12px;
            }
        }
        @include media-laptop {
            font-size: 17px;
        }
    }
    @include media-laptop {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.tehnology-criteria__table {
    table {
        border-collapse: collapse;
        width: 100%;
        // border-bottom: 2px solid #c5c5c5c5;
        // margin-bottom: 60px;
        td,
        th {
            font-size: 16px;
            font-weight: 400;
            padding: 10px 50px;
            text-align: left;
        }
        tr {
            border-bottom: 1px solid rgba(195, 195, 195, 0.5);
            &.table__title {
                background-color: #f1f1f1f1;
                th {
                    padding: 30px 50px;
                }
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.tehnology-criteria__formula {
    background-color: #f1f1f1;
    min-height: 126px;
    display: flex;
    align-items: center;
    padding: 50px 0;
    font-size: 32px;
    justify-content: center;
    margin-bottom: 60px;
    @include media-laptop {
        font-size: 30px;
    }
}
