.tehnology-criteria {
    p {
        margin-bottom: 20px;
        a {
            position: relative;
            &:hover {
                .toshow {
                    display: inline;
                }
            }
        }
    }
}

.tehnology-criteria__row {
    &--toggle {
        border-bottom: 1px solid #c5c5c5;
        margin-bottom: 60px;
    }
    a {
        color: $color-blue;
        text-decoration: underline;
    }
}

.tehnology-criteria__head {
    font-size: 34px;
    font-weight: 400;

    padding-bottom: 50px;
    display: flex;
    align-items: center;
    .br {
        display: block;
    }
    &.toggle {
        border-top: 1px solid #c5c5c5;
        margin-top: 80px;
        padding-top: 50px;
    }
    &.active {
        .tehnology-criteria__toggle {
            background-image: url("../img/svg/plus.svg");
        }
    }
}

.tehnology-criteria__toggle {
    max-width: 70px;
    height: 70px;
    background-size: cover;
    flex: 1 0 auto;
    background-image: url("../img/svg/minus.svg");
    margin-left: auto;
}

.tehnology-criteria__list {
    margin-top: 40px;
    margin-bottom: 40px;
    li {
        position: relative;
        padding-left: 58px;
        margin-bottom: 20px;
        a {
            color: $color-blue;
            text-decoration: underline;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 38px;
            height: 2px;
            background-color: $color-blue;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.tehnology-criteria__table {
    table {
        border-collapse: collapse;
        width: 100%;
        // border-bottom: 2px solid #c5c5c5c5;
        margin-bottom: 60px;
        td,
        th {
            font-size: 16px;
            font-weight: 400;
            padding: 10px 50px;
            text-align: left;
        }
        tr {
            &.table__title {
                background-color: #f1f1f1f1;
                th {
                    padding: 30px 50px;
                }
            }
        }
    }
}

.tehnology-criteria__formula {
    background-color: #f1f1f1;
    min-height: 126px;
    display: flex;
    align-items: center;
    padding: 50px 0;
    font-size: 34px;
    justify-content: center;
    margin-bottom: 60px;
}
