.water-page__description {
    display: flex;

    p {
        margin-bottom: 20px;
    }

    @include media-laptop {
        margin-bottom: 180px;
    }


    @include media-tablet-horizontal {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .container-aside {
        @include media-tablet-horizontal {
            max-width: 100%;
        }
    }
}