.water-page__description {
    display: flex;

    p {
        margin-bottom: 20px;
    }

    @include media-mobile {
        flex-direction: column;
    }
}

.water-page__sub {
    @include media-laptop {
        font-size: 17px;
    }
}

.water-page__over {
    @include media-laptop {
        font-size: 26px;
    }

    @include media-mobile {
        font-size: 24px;
    }
}