.water-page__description {
    display: flex;

    p {
        margin-bottom: 20px;
    }

    @include media-laptop {
        margin-bottom: 180px;
    }


    @include media-tablet-horizontal {
        flex-direction: column;
        margin-bottom: 80px;
    }

    .container-aside {
        @include media-tablet-horizontal {
            max-width: 100%;
        }
    }
}

.water-page__sub {
    @include media-laptop {
        font-size: 17px;
    }
}

.water-page__over {
    font-size: 30px;

    @include media-laptop {
        font-size: 26px;
    }

    @include media-tablet-horizontal {
        font-size: 24px;
    }
}