.work__content {
    margin-bottom: 80px;
}

.work__document {
    display: inline-flex;
    align-items: center;
    span {
        font-size: 18px;
        padding-left: 20px;
    }
    svg {
        width: 70px;
    }
    &:hover {
        svg {
            text {
                stroke: $color-blue;
            }
            path {
                &:first-child {
                    stroke: $color-blue;
                }
                &:nth-child(2) {
                    fill: $color-blue;
                }
                &:last-child {
                    stroke: $color-blue;
                }
            }
        }
    }
}
