.title-inner {
    display: flex;
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 1.4;

    span {
        margin-right: 50px;

        @include media-laptop {
            margin-right: 30px;
        }

        @include media-mobile {
            margin-right: 0;
        }
    }

    svg {
        position: relative;
        width: 65px;
        bottom: -5px;

        @include media-laptop {
            width: 55px;
        }

        @include media-tablet-horizontal {
            width: 50px;
        }

        @include media-mobile {
            // margin-left: auto;
            margin-left: 30px;
            width: 45px;
        }
    }

    &:hover {
        svg {
            path {
                stroke: $color-blue;
            }

            g {
                path {
                    fill: $color-blue;
                }
            }
        }
    }

    &--without-indent {
        margin-bottom: 0;
    }

    @include media-laptop {
        font-size: 52px;
    }

    @include media-tablet-horizontal {
        font-size: 50px;
        margin-bottom: 40px;
    }

    @include media-tablet {
        font-size: 38px;
        margin-bottom: 40px;
    }

    @include media-mobile {
        font-size: 34px;
        margin-bottom: 40px;
        width: 100%;
    }

    &--mode {
        margin-bottom: 50px;
        @include media-laptop {
            font-size: 26px;
        }

        @include media-tablet-horizontal {
            font-size: 24px;
        }
    }
}

.title-complect {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    @include media-laptop {
        font-size: 26px;
    }
    @include media-tablet-horizontal {
        font-size: 24px;
    }
}

.title-main {
    font-size: 66px;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 1.3;

    @include media-laptop {
        font-size: 60px;
    }

    @include media-tablet-horizontal {
        font-size: 46px;
        margin-bottom: 40px;
    }

    @include media-mobile {
        font-size: 44px;
    }
}

.main-text {
    font-size: 32px;
    font-weight: 400;
    @include media-laptop {
        font-size: 30px;
    }
    @include media-tablet-horizontal {
        font-size: 26px;
    }
    @include media-tablet {
        font-size: 26px;
    }
    @include media-mobile {
        font-size: 24px;
    }
    &--w {
        font-weight: 500;
    }
}

.add-text {
    font-size: 18px;
    font-weight: 400;
    @include media-tablet {
        font-size: 17px;
    }
}

.small-text {
    font-size: 16px;
    font-weight: 400;
    @include media-tablet {
        font-size: 15px;
    }
}