.about 
    .container
        .about__header 
            a.title-inner.about__title(href="#") 
                span О компании
                img(src="img/svg/arrow-down.svg", alt="")
            p Компания «УФ-ТЕХ» работает на рынке с 2002 года, основным видом деятельности является производство высокоэффективных систем для обеззараживания питьевой воды, сточных вод, воздуха и поверхностей ультрафиолетовым излучением.  Но, не смотря на большой опыт, мы продолжаем совершенствовать производственные технологии, разрабатываем и внедряем новые системы, позволяющие повышать эффективность и надёжность работы оборудования.
        img(src="img/bg/about.jpg", alt="")