.advantage.inner-content
    .title-inner.advantage__title.container Достоинства
    .advantage__slick-wrapper.inner-content.container
        //- advantage__nav
        .advantage__nav.advantage__nav--index
            .advantage__arrows
                .slick-advantage__prev.slick-advantage__arrow
                    <svg viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(-.35671 0 0 -.75269 131.556 1171.44)"/><g transform="rotate(-180 140.417 975.965)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"/></g></svg>
                .slick-advantage__next.slick-advantage__arrow
                    <svg viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)" /><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)" /></g></svg>
            span

        //- slick-advantage
        .advantage__slick.slick-advantage 
            .slick-advantage__item
                img(src="img/svg/advantage/item1.svg" alt="")
                p Нами разработана и внедрена собственная автоматизированная система управления и контроля промышленного и бытового оборудования.
                span
            .slick-advantage__item
                img(src="img/svg/advantage/item2.svg" alt="")
                p Мы занимаем лидирующую позицию среди компаний изготовителей в России и странах СНГ.
                span
            .slick-advantage__item
                img(src="img/svg/advantage/item3.svg" alt="")
                p Сотрудничаем с транспортной компанией "Деловые Линии" и "ПЭК". Можем отправить любой другой транспортной компанией на Ваш выбор. 
                span
            .slick-advantage__item
                img(src="img/svg/advantage/item1.svg" alt="")
                p Нами разработана и внедрена собственная автоматизированная система управления и контроля промышленного и бытового оборудования.
                span
            .slick-advantage__item
                img(src="img/svg/advantage/item1.svg" alt="")
                p Нами разработана и внедрена собственная автоматизированная система управления и контроля промышленного и бытового оборудования.
                span

    .advantage__tabs-content.advantage-tabs.tabs
        .advantage-tabs__picture.tabs__content.active
            img(src="img/bg/advantage-item1.jpg" alt="")
        .advantage-tabs__picture.tabs__content
            img(src="img/bg/advantage-item2.jpg" alt="")
        .advantage-tabs__picture.tabs__content
            img(src="img/bg/advantage-item3.jpg" alt="")
        .container
            ul.advantages-tabs__tab-wrapper.tabs__caption
                li.advantage-tabs__tab.active
                    h3 Сервис и обслуживание
                    P Оказываем услуги шеф-монтажа, пуско-наладку, а так же сервисную поддержку и обслуживание ультрафиолетовых очистных установок нашего производства
                li.advantage-tabs__tab
                    h3 Индивидуальное проектирование
                    P Разрабатываем оборудование в разных климатических и взрывозащитных исполнениях, по Вашему техническому заданию.
                li.advantage-tabs__tab
                    h3 Быстрый подбор оборудования
                    P От правильного подбора оборудования зависит эффективность обеззараживания воды, а так же экономия денежных средств. Вы можете попробовать наш он-лайн подбор оборудования.


