.catalog.inner-content
    .container
        a.catalog__title.title-inner(href="catalog-water.html") 
            span Обеззараживание воды
            <svg viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)"></path><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"></path></g></svg>

    .catalog__wrapper.tabs
        .catalog__content.tabs__content2.active
            .catalog__content-wrapper
                img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                a.catalog__item.catalog-item.catalog-item--1(href="water-obez.html")
                    span.catalog-item__number 01
                    h3.catalog-item__title Обеззараживание питьевой воды
                .catalog__overlay
            .catalog__content-wrapper
                img.catalog__content-picture(src="img/bg/catalog-item-2.jpg" alt="")
                a.catalog__item.catalog-item.catalog-item--1(href="water.html")
                    span.catalog-item__number 02
                    h3.catalog-item__title Обеззараживание воды бассейнов
                .catalog__overlay
            .catalog__content-wrapper
                img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                a.catalog__item.catalog-item.catalog-item--1(href="#")
                    span.catalog-item__number 03
                    h3.catalog-item__title Обеззараживание сточных вод
                .catalog__overlay
            .catalog__content-wrapper
                img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                a.catalog__item.catalog-item.catalog-item--1(href="#")
                    span.catalog-item__number 04
                    h3.catalog-item__title Комплектующие детали и материалы
                .catalog__overlay