// Mobile first
$mediaWidthMobile: 360px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
$mediaDesctop: 1919px;

$fontBase: "Euclid Circular A", "sans-serif";
$color-base: #2e2f38;
$color-blue: #0eb1d2;
$color-fiolet: #30355d;