// Mobile first
$mediaWidthMobile: 767px;
$mediaWidthTablet: 1023px;
$mediaWidthTabletHorizontal: 1365px;
$mediaWidthLaptop: 1919px;
// $mediaDesctop: 1919px;

$fontBase: "Euclid Circular A", "sans-serif";
$color-base: #2e2f38;
$color-blue: #0eb1d2;
$color-fiolet: #30355d;
