.delivery.inner-content
    .container.df 
        h2.title-inner Доставка
        ul.delivery__list.container-aside
            li
                p.delivery__head.main-text Доставляем продукцию до склада или адреса покупателя в любую точку России и мира. 
            li
                p.delivery__little.add-text Промышленное оборудование мы бережно отправляем транспортной компанией "Деловые Линии" или "ПЭК".
                .delivery__brend
                    p 
                        img(src="img/delivery/item1.png" alt="")
                    p 
                        img(src="img/delivery/item2.png" alt="")
            li
                p.delivery__little.add-text Бытовое оборудование курьерской доставкой  мы бережно отправляем "СДЭК" или "КСЭ"
                .delivery__brend
                    p 
                        img(src="img/delivery/item3.png" alt="")
                    p 
                        img(src="img/delivery/item4.png" alt="")
            li
                p Так же возможен самовывоз с нашего склада по адресу: Московская Область, г. Сергиев Посад, ул. Фабричная 12А. 	Для самостоятельного забора груза при себе иметь: паспорт, доверенность или печать.