.pay.inner-content
    .container
        h2.title-inner Оплата
        .container-aside
            p.pay__head Мы работаем с физическими и юридическими лицами по безналичному расчету. Для оформления договора и получения счёта обращайтесь к менеджерам компании. Для on-line оплаты перейдите в наш 
                | 
                a(href="") интернет магазин. 