.container-st.inner-content
    .container
        .container-st__header
            h2.title-inner Оплата
            .container-aside
                p.container-aside Мы работаем с физическими и юридическими лицами по безналичному расчету. Для оформления договора и получения счёта обращайтесь к менеджерам компании. Для on-line оплаты перейдите в наш 
                    | 
                    a(href="") интернет магазин. 