.teh.inner-content
    .container 
        .teh__head
            h2.title-inner Тех. поддержка
            p В случе возникновения каких-либо вопросов и неполадок, вы всегда можете написать нам в 
                |
                a(href="") тех поддержку
                | и наши специалисты Вам обязательно помогут решить проблему.
        .teh__content 
            .teh__tab.active.toggle
                span Обращение в тех. поддержку
                .teh__toggle
            .container-aside
                form(action="get").teh__form
                    h3 Информация по заказу
                    ul
                        li.teh__input.teh__input--big.teh__input--star
                            input(type="text" placeholder="Иванов Иван Иванович")
                        li.teh__input.teh__input--big
                            input(type="text" placeholder="Покупатель")
                        li.teh__input.teh__input--small
                            input(type="text" placeholder="Контактное лицо")
                        li.teh__input.teh__input--small
                            input(type="text" placeholder="Телефон")
                        li.teh__input.teh__input--small
                            input(type="text" placeholder="Е-mail")
                        li.teh__input.teh__input--small
                            input(type="text" placeholder="Номер счёта")
                        li.teh__input.teh__input--small
                            input(type="text" placeholder="Дата счёта")
                        li.teh__input.teh__input--small
                            input(type="text" placeholder="Дата ввода в эксплуатацию")
                    h3 Информация по оборудованию
                    ul 
                        li.teh__input.teh__input--small
                            input(type="text" placeholder="Модель установки ")
                        li.teh__input.teh__input--small
                            input(type="text" placeholder="Колличество")
                        li.teh__input.teh__input--small
                            input(type="text" placeholder="Заводской номер")
                        li.teh__input.teh__input--big
                            input(type="text" placeholder="Исполнение")
                        li.teh__input.teh__input--big
                            input(type="text" placeholder="Система контроля")
                        li.teh__message
                            textarea(placeholder="Текст обращения")
                        li.teh__label 
                            p Нажимая «Отправить», Вы подтверждаете, что ознакомлены и 
                                |
                                i.br
                                | принимаете «Условия обработки персональных данных».
                            a(href="").teh__file-wrapper
                                span.teh__file-text Прикрепить файл
                                span.teh__file-icon-btn
                                    img(src="img/svg/plus-btn.svg" alt="")



                    p.teh__submit
                        input(type="submit" value="Отправить")
