.work.inner-content.wide-block
    .container 
        h2.title-inner Работа с рекламациями
        .work__content
            p Рекламации принимаются при соблюдении требований к условиям транспортировки и хранения, монтажу и запуску установки, а также при наличии в журнале эксплуатации данных о техническом обслуживании и регламентных работах.
        a(href="").work__document Бланк рекламации