.work.inner-content.wide-block
    .container 
        h2.title-inner Работа с рекламациями
        .work__content
            p Рекламации принимаются при соблюдении требований к условиям транспортировки и хранения, монтажу и запуску установки, а также при наличии в журнале эксплуатации данных о техническом обслуживании и регламентных работах.
        a(href="").work__document 
            <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/><path d="M27.262 27.037c0-3.073-2.301-5.422-5.855-5.422h-5.206v17.037h2.229v-6.216h2.977c3.554 0 5.855-2.325 5.855-5.399zm-2.205 0c0 1.897-1.297 3.338-3.65 3.338H18.43V23.7h2.977c2.353 0 3.65 1.441 3.65 3.337zm5.208 11.615h4.894c5.234 0 9.071-3.645 9.071-8.519 0-4.873-3.837-8.518-9.071-8.518h-4.894v17.037zm2.229-2.085V23.7h2.665c4.105 0 6.818 2.713 6.818 6.433 0 3.721-2.713 6.434-6.818 6.434h-2.665zm15.075 2.085h2.229v-7.656h6.072v-2.109h-6.072v-5.163h7.68v-2.109h-9.909v17.037z" fill="#30355d" fill-rule="nonzero"/><path d="M17 51.348h38" fill="none" stroke="#30355d" stroke-width="2"/></svg>
            span Бланк рекламации