footer.footer 
    .container 
        a.anchor-btn(href="#topscroll") 
            <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M18.5 1C8.841 1 1 7.963 1 16.539v38.922C1 64.037 8.841 71 18.5 71h35C63.159 71 71 64.037 71 55.461V16.539C71 7.963 63.159 1 53.5 1h-35z" fill="none" stroke="#30355d" stroke-width="2"/><path d="M35.723 18.88a.725.725 0 00-.236.158L23.898 30.732a.735.735 0 000 1.033.718.718 0 001.024 0l10.354-10.446v31.126c0 .404.324.731.724.731.4 0 .724-.327.724-.731V21.319l10.354 10.446a.718.718 0 001.024 0 .735.735 0 000-1.033L36.513 19.038a.719.719 0 00-.79-.158z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".65" stroke-linecap="butt" stroke-miterlimit="1.414"/></svg>
        .footer__wrapper 
            .footer__col.footer__col--contacts 
                p Московская область, г. Сергиев Посад, 
                    |
                    i.br 
                    | ул. Фабричная, д. 12-а.
                p.footer__mail
                    a(href="mailto:uftex@gmail.com") uftex@gmail.com
                    a(href="89123456789") 8 (912) 345 67 89
                p.footer__social 
                    a(href="#")
                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#fff" stroke-width="2" /><g fill="#fff" fill-rule="nonzero"><path d="M40.747 34.62l-6.813-3.73a1.243 1.243 0 00-1.24.022 1.242 1.242 0 00-.613 1.077v7.393c0 .444.227.846.609 1.074a1.249 1.249 0 001.236.028l6.813-3.665a1.251 1.251 0 00.008-2.199zm-6.859 3.832v-5.525l5.093 2.786-5.093 2.739z" /><path d="M51.194 29.832l-.001-.014c-.026-.248-.286-2.456-1.359-3.579-1.241-1.322-2.648-1.483-3.325-1.559l-.152-.018-.054-.007c-4.079-.296-10.236-.337-10.298-.337h-.01c-.062 0-6.221.041-10.334.337l-.055.007a8.105 8.105 0 00-.145.018c-.668.076-2.059.237-3.305 1.606-1.021 1.111-1.318 3.271-1.347 3.514l-.004.032c-.01.104-.227 2.563-.227 5.032v2.307c0 2.469.217 4.929.227 5.033l.002.015c.026.244.286 2.412 1.354 3.535 1.167 1.278 2.643 1.446 3.435 1.537.125.016.233.028.307.04l.072.011c2.355.224 9.735.334 10.049.338l.01.002.009-.003c.061 0 6.219-.041 10.296-.337l.054-.004c.051-.008.109-.015.174-.02.664-.07 2.049-.219 3.275-1.566 1.023-1.112 1.318-3.274 1.349-3.517l.003-.032c.009-.103.228-2.563.228-5.032v-2.307c0-2.469-.219-4.928-.228-5.032zm-1.58 7.339a63.26 63.26 0 01-.218 4.855c-.077.596-.389 1.963-.887 2.504-.768.845-1.557.929-2.133.99-.071.006-.134.015-.193.021-3.944.286-9.869.329-10.143.33-.306-.004-7.578-.115-9.862-.327a7.769 7.769 0 00-.376-.049c-.675-.076-1.601-.183-2.311-.965l-.018-.018c-.489-.51-.791-1.788-.868-2.479a62.827 62.827 0 01-.219-4.862v-2.307c0-2.283.199-4.634.218-4.854.092-.701.41-1.985.887-2.504.791-.871 1.625-.968 2.178-1.031l.147-.018c4.002-.287 9.97-.33 10.184-.331.214.001 6.18.044 10.145.331l.159.019c.569.065 1.426.162 2.215 1.002l.006.008c.49.511.793 1.811.87 2.515.013.155.219 2.54.219 4.863v2.307z" /></g></svg>
                    a(href="#") 
                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#fff" stroke-width="2" /><path d="M43.109 20.5H28.891c-4.627 0-8.391 3.764-8.391 8.391v14.218c0 4.627 3.764 8.391 8.391 8.391h14.218c4.627 0 8.391-3.764 8.391-8.391V28.891c0-4.627-3.764-8.391-8.391-8.391zm6.574 22.609a6.581 6.581 0 01-6.574 6.574H28.891a6.581 6.581 0 01-6.574-6.574V28.891a6.581 6.581 0 016.574-6.574h14.218a6.581 6.581 0 016.574 6.574v14.218z" fill="#fff" fill-rule="nonzero" /><path d="M36 27.524c-4.674 0-8.476 3.802-8.476 8.476 0 4.674 3.802 8.476 8.476 8.476 4.674 0 8.476-3.802 8.476-8.476 0-4.674-3.802-8.476-8.476-8.476zm0 15.135A6.666 6.666 0 0129.341 36 6.666 6.666 0 0136 29.341 6.666 6.666 0 0142.659 36 6.666 6.666 0 0136 42.659zm8.679-18.146a2.508 2.508 0 00-2.505 2.505 2.508 2.508 0 002.505 2.505 2.508 2.508 0 002.505-2.505 2.508 2.508 0 00-2.505-2.505zm0 3.192a.688.688 0 11.001-1.375.688.688 0 01-.001 1.375z" fill="#fff" fill-rule="nonzero" /></svg>

            .footer__col.footer__col--other 
                ul.footer__list
                    li.footer__title
                        a(href="about.html") О компании
                    li.footer__item
                        a(href="#") История
                    li.footer__item
                        a(href="objects.html") Объекты
                ul.footer__list
                    li.footer__title
                        a(href="catalog.html") Продукция
                    li.footer__item
                        a(href="#") Обеззараживание воды
                    li.footer__item
                        a(href="#") Обеззараживание воздуха
                ul.footer__list
                    li.footer__title
                        a(href="#") Технология
                    li.footer__item
                        a(href="#") Статьи о принципе работы
                    li.footer__item
                        a(href="criteria.html") Критерии подбора УОВ

            .footer__col.footer__col--other 
                ul.footer__list
                    li.footer__title
                        a(href="support.html") Сервис и поддержка
                    li.footer__item
                        a(href="#") Обращение
                    li.footer__item
                        a(href="#") Работа с рекламациями
                    li.footer__item
                        a(href="#") Доставка и оплата
                ul.footer__list
                    li.footer__title
                        a(href="documents.html" download) Документы
                    li.footer__item
                        a(href="#" download) СанПиН
                    li.footer__item
                        a(href="#" download) Руководство по эксплуатации 
                    li.footer__item
                        a(href="#" download) Статьи 
                    li.footer__item
                        a(href="catalog.html" download) Каталог
                    li.footer__item
                        a(href="#" download) Прайс-лист
                ul.footer__list
                    li.footer__title
                        a(href="contacts.html") Контакты
            .footer__col.footer__col--other.footer__col--tablet
                .footer__menu 
                    span Меню
                    <svg width="100%" height="100%" viewBox="0 0 72 72" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><g><path id="Subdirectory_Arrow_Right" d="M21,23.379c0,-0.697 0.561,-1.263 1.252,-1.263l17.485,0c0.691,0 1.252,0.566 1.252,1.263l0,22.219l7.855,-7.835c0.493,-0.493 1.293,-0.493 1.786,0c0.493,0.494 0.493,1.293 0,1.786l-9.999,9.973c-0.498,0.497 -1.341,0.477 -1.819,-0.033l-9.966,-9.94c-0.493,-0.494 -0.493,-1.293 0,-1.786c0.493,-0.493 1.293,-0.493 1.786,0l7.832,7.813l0,-20.934l-16.212,0c-0.691,0 -1.252,-0.565 -1.252,-1.263Z" style="fill:#fff;fill-rule:nonzero;" /></g><path d="M71,18.5c0,-9.659 -7.841,-17.5 -17.5,-17.5l-35,0c-9.659,0 -17.5,7.841 -17.5,17.5l0,35c0,9.659 7.841,17.5 17.5,17.5l35,0c9.659,0 17.5,-7.841 17.5,-17.5l0,-35Z" style="fill:none;stroke:#fff;stroke-width:2px;" /></svg>
                //- ul.footer__list
                //-     li.footer__title
                //-         a(href="#") Комплектующие
                ul.footer__list
                    li.footer__title
                        a(href="about.html") О компании
                ul.footer__list
                    li.footer__title
                        a(href="catalog.html") Продукция
                ul.footer__list
                    li.footer__title
                        a(href="#") Технология
                ul.footer__list
                    li.footer__title
                        a(href="support.html") Сервис и поддержка
                ul.footer__list
                    li.footer__title
                        a(href="about.html#documents") Документы
                ul.footer__list
                    li.footer__title
                        a(href="contacts.html") Контакты

            .footer__copyright
                p &copy; 2006-2021 Uv-Tech
                p Cоздано в 
                    | 
                    a(href="http://kvokka.com") kvokka