header.header-main.header-main--inner#topscroll
    .header-main__wrapper
        .container
            a.header-main__logo.header-main__logo--inner(href="index.html")
                //- img(src="img/logo.png" alt="")
            nav.header-main__nav
                ul
                    li
                        a(href="about.html") О компании
                    li
                        a Технология
                        ul.submenu
                            li
                                a(href="princip.html") Принцип УФ-излучения и работы УОВ
                            li 
                                a(href="criteria.html") Критерии подбора УОВ
                    li
                        a(href="products.html") Каталог
                    li
                        a(href="support.html") Сервис и поддержка
                    li
                        a(href="about.html#documents") Документы
                    li
                        a(href="contacts.html") Контакты
            ul.header-main__contacts 
                li
                    a(href="tel:89123456789") 8 912 345 67 89
                li
                    a(href="mailto:uftex@gmail.com") uftex@gmail.com
            .header-main__burger 
                //- img(src="img/svg/burger-btn.svg" alt="Меню")
                <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g fill="none" stroke="#232323"><path d="M20.5 25.793h31M20.5 36h31M36 46.207h15.5" stroke-width="3"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" stroke-width="2"/></g></svg>
    a(href="selection.html").header-main__fixed-link 
        span Быстрый подбор оборудования
    .header-main__animation 
