header.header-main
    .container
        .header-main__wrapper
            a.header-main__logo(href="index.html")
                img(src="img/logo.png" alt="")
            nav.header-main__nav
                ul
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Технология
                    li
                        a(href="#") Продукция
                    li
                        a(href="#") Комплектующие
                    li
                        a(href="#") Сервис и поддержка
                    li
                        a(href="#") Документы
                    li
                        a(href="#") Контакты
            ul.header-main__contacts 
                li
                    a(href="tel:89123456789") 8 912 345 67 89
                li
                    a(href="mailto:uftex@gmail.com") uftex@gmail.com
            .header-main__burger 
                img(src="img/svg/burger-btn.svg" alt="Меню")

        .header-main__slick.slick-hero
            .slick-hero__item
                h2.slick-hero__title 
                    | Ультрафиолетовое обеззараживание 
                    i.br
                    |   и очистка воды
            .slick-hero__item
                h2.slick-hero__title 
                    | Ультрафиолетовое обеззараживание 
                    i.br
                    |   и очистка воды
            .slick-hero__item
                h2.slick-hero__title 
                    | Ультрафиолетовое обеззараживание 
                    i.br
                    |   и очистка воды
        .slick-hero__pagination
            .slick-hero__arrow.slick-hero__prev
                <svg viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M79.833 18.5c0-9.659-7.841-17.5-17.5-17.5H18.5C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h43.833c9.659 0 17.5-7.841 17.5-17.5v-35z" fill="none" stroke="#ffffff" stroke-width="2" /><path d="M23.296 36.277a.728.728 0 00.159.236l11.693 11.589a.736.736 0 001.034 0 .718.718 0 000-1.024L25.735 36.724h31.126a.727.727 0 00.731-.724c0-.4-.327-.724-.731-.724H25.735l10.447-10.354a.718.718 0 000-1.024.735.735 0 00-1.034 0L23.455 35.487a.717.717 0 00-.159.79z" fill="#ffffff" fill-rule="nonzero" stroke="#ffffff" stroke-width=".65" stroke-linecap="butt" stroke-miterlimit="1.414" /></svg>

            .slick-hero__arrow.slick-hero__next
                <svg viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M79.833 18.5c0-9.659-7.841-17.5-17.5-17.5H18.5C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h43.833c9.659 0 17.5-7.841 17.5-17.5v-35z" fill="none" stroke="#ffffff" stroke-width="2" /><path d="M57.537 35.723a.728.728 0 00-.159-.236L45.685 23.898a.736.736 0 00-1.034 0 .718.718 0 000 1.024l10.447 10.354H23.972a.727.727 0 00-.731.724c0 .4.327.724.731.724h31.126L44.651 47.078a.718.718 0 000 1.024.735.735 0 001.034 0l11.693-11.589a.717.717 0 00.159-.79z" fill="#ffffff" fill-rule="nonzero" stroke="#ffffff" stroke-width=".65" stroke-linecap="butt" stroke-miterlimit="1.414" /></svg>
        .header-main__aside-links.aside-links
            a.aside-links__link(href="") 
                <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#fff" stroke-width="2" /><path d="M29.908 40.794h16.801c1.906 0 3.46-1.542 3.46-3.433v-7.09c0-.012 0-.025-.007-.037 0-.012-.006-.031-.006-.043 0-.013-.006-.025-.006-.038-.006-.012-.006-.025-.013-.043-.006-.013-.006-.025-.012-.038-.006-.012-.006-.025-.013-.037a.31.31 0 01-.018-.043c-.007-.013-.013-.025-.019-.032a.429.429 0 01-.019-.037c-.006-.012-.013-.019-.019-.031s-.019-.025-.025-.037a.088.088 0 00-.025-.031c-.006-.013-.019-.019-.025-.032-.006-.012-.019-.018-.025-.031-.006-.012-.019-.018-.025-.024l-.032-.032c-.012-.006-.018-.018-.031-.024-.012-.007-.025-.019-.037-.025-.013-.007-.019-.013-.032-.019-.012-.006-.025-.012-.037-.025l-.113-.056c-.013-.006-.025-.006-.038-.012a.117.117 0 00-.044-.013c-.012 0-.025-.006-.031-.006-.019-.006-.031-.006-.05-.006-.006 0-.013-.006-.025-.006l-21.296-2.917v-2.948c0-.031 0-.062-.006-.087 0-.006 0-.012-.006-.025 0-.018-.006-.037-.006-.056-.007-.018-.007-.031-.013-.05 0-.012-.006-.018-.006-.031l-.019-.056c0-.006-.006-.018-.006-.024a.18.18 0 00-.025-.05c-.007-.006-.007-.019-.013-.025a.105.105 0 00-.025-.037c-.006-.013-.012-.019-.019-.031-.006-.013-.012-.019-.018-.032-.007-.012-.019-.024-.026-.037l-.075-.075a.293.293 0 00-.044-.037c-.006-.006-.018-.012-.025-.019-.012-.012-.025-.018-.037-.031l-.05-.031c-.007-.006-.013-.006-.019-.012-.025-.013-.057-.025-.082-.037l-4.618-1.928a.847.847 0 00-1.11.447.837.837 0 00.451 1.101l4.099 1.717v18.395c0 1.742 1.316 3.184 3.015 3.402a3.364 3.364 0 00-.489 1.741c0 1.872 1.535 3.39 3.415 3.39 1.88 0 3.416-1.524 3.416-3.39 0-.621-.169-1.212-.47-1.71h7.608a3.323 3.323 0 00-.47 1.71c0 1.872 1.535 3.39 3.415 3.39 1.88 0 3.416-1.524 3.416-3.39 0-1.865-1.536-3.389-3.416-3.389h-15.98c-.978 0-1.768-.79-1.768-1.754v-2.276a3.516 3.516 0 001.768.473zm4.211 6.94a1.72 1.72 0 01-1.723 1.71 1.724 1.724 0 01-1.724-1.71c0-.939.777-1.71 1.724-1.71a1.72 1.72 0 011.723 1.71zm13.499 0a1.72 1.72 0 01-1.723 1.71 1.724 1.724 0 01-1.724-1.71c0-.939.777-1.71 1.724-1.71a1.72 1.72 0 011.723 1.71zm-.909-8.619H29.908c-.978 0-1.768-.79-1.768-1.754v-9.073l20.337 2.779v6.288c0 .976-.796 1.76-1.768 1.76z" fill="#fff" fill-rule="nonzero" /></svg>
            a.aside-links__link.aside-links__link--social(href="") 
                <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#fff" stroke-width="2" /><path d="M43.109 20.5H28.891c-4.627 0-8.391 3.764-8.391 8.391v14.218c0 4.627 3.764 8.391 8.391 8.391h14.218c4.627 0 8.391-3.764 8.391-8.391V28.891c0-4.627-3.764-8.391-8.391-8.391zm6.574 22.609a6.581 6.581 0 01-6.574 6.574H28.891a6.581 6.581 0 01-6.574-6.574V28.891a6.581 6.581 0 016.574-6.574h14.218a6.581 6.581 0 016.574 6.574v14.218z" fill="#fff" fill-rule="nonzero" /><path d="M36 27.524c-4.674 0-8.476 3.802-8.476 8.476 0 4.674 3.802 8.476 8.476 8.476 4.674 0 8.476-3.802 8.476-8.476 0-4.674-3.802-8.476-8.476-8.476zm0 15.135A6.666 6.666 0 0129.341 36 6.666 6.666 0 0136 29.341 6.666 6.666 0 0142.659 36 6.666 6.666 0 0136 42.659zm8.679-18.146a2.508 2.508 0 00-2.505 2.505 2.508 2.508 0 002.505 2.505 2.508 2.508 0 002.505-2.505 2.508 2.508 0 00-2.505-2.505zm0 3.192a.688.688 0 11.001-1.375.688.688 0 01-.001 1.375z" fill="#fff" fill-rule="nonzero" /></svg>
            a.aside-links__link.aside-links__link--social(href="") 
                <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#fff" stroke-width="2" /><g fill="#fff" fill-rule="nonzero"><path d="M40.747 34.62l-6.813-3.73a1.243 1.243 0 00-1.24.022 1.242 1.242 0 00-.613 1.077v7.393c0 .444.227.846.609 1.074a1.249 1.249 0 001.236.028l6.813-3.665a1.251 1.251 0 00.008-2.199zm-6.859 3.832v-5.525l5.093 2.786-5.093 2.739z" /><path d="M51.194 29.832l-.001-.014c-.026-.248-.286-2.456-1.359-3.579-1.241-1.322-2.648-1.483-3.325-1.559l-.152-.018-.054-.007c-4.079-.296-10.236-.337-10.298-.337h-.01c-.062 0-6.221.041-10.334.337l-.055.007a8.105 8.105 0 00-.145.018c-.668.076-2.059.237-3.305 1.606-1.021 1.111-1.318 3.271-1.347 3.514l-.004.032c-.01.104-.227 2.563-.227 5.032v2.307c0 2.469.217 4.929.227 5.033l.002.015c.026.244.286 2.412 1.354 3.535 1.167 1.278 2.643 1.446 3.435 1.537.125.016.233.028.307.04l.072.011c2.355.224 9.735.334 10.049.338l.01.002.009-.003c.061 0 6.219-.041 10.296-.337l.054-.004c.051-.008.109-.015.174-.02.664-.07 2.049-.219 3.275-1.566 1.023-1.112 1.318-3.274 1.349-3.517l.003-.032c.009-.103.228-2.563.228-5.032v-2.307c0-2.469-.219-4.928-.228-5.032zm-1.58 7.339a63.26 63.26 0 01-.218 4.855c-.077.596-.389 1.963-.887 2.504-.768.845-1.557.929-2.133.99-.071.006-.134.015-.193.021-3.944.286-9.869.329-10.143.33-.306-.004-7.578-.115-9.862-.327a7.769 7.769 0 00-.376-.049c-.675-.076-1.601-.183-2.311-.965l-.018-.018c-.489-.51-.791-1.788-.868-2.479a62.827 62.827 0 01-.219-4.862v-2.307c0-2.283.199-4.634.218-4.854.092-.701.41-1.985.887-2.504.791-.871 1.625-.968 2.178-1.031l.147-.018c4.002-.287 9.97-.33 10.184-.331.214.001 6.18.044 10.145.331l.159.019c.569.065 1.426.162 2.215 1.002l.006.008c.49.511.793 1.811.87 2.515.013.155.219 2.54.219 4.863v2.307z" /></g></svg>
    .header-main__fixed-link 
        a(href="#") Быстрый подбор оборудования