header.header 
    .container
        .header__wrapper
            a.header__logo(href="index.html")
                img(src="img/logo.png" alt="")
            nav.header__nav
                ul
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Технология
                    li
                        a(href="#") Продукция
                    li
                        a(href="#") Комплектующие
                    li
                        a(href="#") Сервис и поддержка
                    li
                        a(href="#") Документы
                    li
                        a(href="#") Контакты
            ul.header__contacts 
                li
                    a(href="tel:89123456789") 8 912 345 67 89
                li
                    a(href="mailto:uftex@gmail.com") uftex@gmail.com