.menu 
    .menu__content 
        .menu__close 
        ul.menu__list
            li.menu__link 
                a(href="about.html") О компании 
            li.menu__link
                a Технология
                ul.menu__submenu 
                    a(href="princip.html") Принцип УФ-излучения и работы УОВ
                    a(href="criteria.html") Критерии подбора УОВ
            li.menu__link 
                a(href="catalog.html") Каталог 
            li.menu__link 
                a(href="support.html") Сервис и поддержка 
            li.menu__link 
                a(href="documents.html") Документы 
            li.menu__link 
                a(href="contacts.html") Контакты 