.little-text {
    line-height: 1.5;
    font-size: 18px;

    &+.show-more {
        display: none;

        @include media-mobile {
            display: flex;
        }
    }

    @include media-mobile {
        .hide {
            display: none;
        }

        .show {
            display: block;
        }
    }

    p {
        font-size: 18px;
        margin-bottom: 15px;

        @include media-laptop {
            font-size: 17px;
        }
    }
}