.little-text {
    line-height: 1.5;

    @include media-mobile {
        .hide {
            display: none;
        }
        .show {
            display: block;
        }
    }

    p {
        margin-bottom: 15px;
    }
}
