.principle-uf.inner-content
    .container
        h2.title-inner Принцип УФ-излучения
    .principle-uf__wide.wide-block.wide-block--small
        .container 
            p.main-text Способность УФ-излучения дезактивировать бактерии была впервые определена в 1877 г.
    .container 
        .container-aside.container-aside--mode 
            .little-text.add-text
                p.add-text Было установлено влияние интенсивности и времени облучения на степень обеззараживания, а также ограничения, связанные с прозрачностью воды. Наибольшим бактерицидным действием обладает электромагнитное излучение на длине волны 240-280 нм с пиком на волне  254 нм. Поглощаясь внутри микроорганизмов молекулами ДНК и РНК, оно вызывает фотохимические изменения в их структуре.
            .inner-picture.hide
                img(src="img/bg/graf1.png" alt="График")
            .little-text.add-text.hide
                p Проникновение ультрафиолетовых лучей в воду сопровождается их поглощением как самой водой, так и веществами, находящимися в растворенном и взвешенном состоянии.
                p Степень поглощения определяется физико-химическими свойствами обрабатываемой воды, а также толщиной ее слоя. Наибольшее влияние на интенсивность поглощения биоцидной энергии оказывают цветность, мутность воды и содержание в ней железа.
    .show-more.show-more--margin 
        button Показать еще
.principle-uf.inner-content
    .container
        h2.title-inner Принцип работы оборудования
    .container 
        .container-aside.container-aside--mode 
            .little-text.add-text
                p Вода, поступившая в один из патрубков, протекает внутри корпуса камеры обеззараживания вдоль кварцевого чехла с УФ лампой, которой облучается и обеззараженной выходит через выходной патрубок. Для корректной работы устройства, требуется полное заполнение камеры обеззараживания водой.
                p УОВ состоит из камеры обеззараживания 1, выполненной из нержавеющей стали AISI-304, блока питания (шкафа ЭПРА) 2, модуля управления с ЖК дисплеем 3, бокса с автоматическим выключателем 9 , промывного устройства 10.
                p Внутри камеры, через узел герметизации кварцевого чехла 6 ( фторопластовая втулка с силиконовыми прокладками, зажатая прижимными гайками с внешней стороны) и вставленные во фторопластовые втулки с другой стороны, крепится кварцевый чехол (колба), внутри которой герметично расположена бактерицидная лампа.
                p На поверхности корпуса камеры обеззараживания установлен УФ - датчик интенсивности ультрафиолетового излучения 5 и датчик температуры воды 4, находящейся в камере обеззараживания. Для забора проб воды на впускном и выпускном патрубках установлены пробоотборники 7. Для подключения промывного устройства 10 на патрубках установлены шаровые краны с штуцерами 8.
            .inner-picture.hide
                img(src="img/bg/graf2.png" alt="График")
            .little-text.add-text.hide
                p Шкаф ЭПРА 2 в зависимости от мощности УОВ или ее исполнения, устанавливается отдельно на полу, крепится на стене или крепится на кронштейны камеры обеззараживания 1. Он включает в себя ЭПРА для питания лампы, плату БСК-2, вентилятор для охлаждения ЭПРА, контактор для включения ЭПРА и блок питания для вентилятора охлаждения.
                p Система управления и контроля, выполнена на основе контроллера БСК-2 и модуля управления с ЖК дисплеем 3, который устанавливается на расстоянии в любое удобное место и подключается к блоку питания кабелем или по средством GSM передатчика.
    .show-more.show-more--margin
        button Показать еще