doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html")  Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a.active  Комплектующие

        .products
            .container
                h2.title-main Комплектующие

            .catalog__wrapper.inner-content.tabs
                .catalog__content.tabs__content2.active
                    .catalog__content-wrapper
                        a.catalog__item.catalog-item.catalog-item--1(href="uf-lump.html")
                            span.catalog-item__number 01
                            span.catalog-item__arrow 
                                <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path id="Subdirectory_Arrow_Right" d="M21 23.379c0-.697.561-1.263 1.252-1.263h17.485c.691 0 1.252.566 1.252 1.263v22.219l7.855-7.835a1.263 1.263 0 011.786 1.786l-9.999 9.973a1.284 1.284 0 01-1.819-.033l-9.966-9.94a1.263 1.263 0 011.786-1.786l7.832 7.813V24.642H22.252A1.258 1.258 0 0121 23.379z" fill="#30355d" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                            h3.catalog-item__title УФ-лампы
                        .catalog__overlay
                    .catalog__content-wrapper
                        a.catalog__item.catalog-item.catalog-item--1(href="epra.html")
                            span.catalog-item__number 02
                            span.catalog-item__arrow 
                                <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path id="Subdirectory_Arrow_Right" d="M21 23.379c0-.697.561-1.263 1.252-1.263h17.485c.691 0 1.252.566 1.252 1.263v22.219l7.855-7.835a1.263 1.263 0 011.786 1.786l-9.999 9.973a1.284 1.284 0 01-1.819-.033l-9.966-9.94a1.263 1.263 0 011.786-1.786l7.832 7.813V24.642H22.252A1.258 1.258 0 0121 23.379z" fill="#30355d" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                            h3.catalog-item__title ЭПРА
                        .catalog__overlay
                    .catalog__content-wrapper
                        a.catalog__item.catalog-item.catalog-item--1(href="#")
                            span.catalog-item__number 03
                            span.catalog-item__arrow 
                                <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path id="Subdirectory_Arrow_Right" d="M21 23.379c0-.697.561-1.263 1.252-1.263h17.485c.691 0 1.252.566 1.252 1.263v22.219l7.855-7.835a1.263 1.263 0 011.786 1.786l-9.999 9.973a1.284 1.284 0 01-1.819-.033l-9.966-9.94a1.263 1.263 0 011.786-1.786l7.832 7.813V24.642H22.252A1.258 1.258 0 0121 23.379z" fill="#30355d" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                            h3.catalog-item__title Кварцевые чехлы
                        .catalog__overlay
                    .catalog__content-wrapper
                        a.catalog__item.catalog-item.catalog-item--1(href="complect.html")
                            span.catalog-item__number 04
                            span.catalog-item__arrow 
                                <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path id="Subdirectory_Arrow_Right" d="M21 23.379c0-.697.561-1.263 1.252-1.263h17.485c.691 0 1.252.566 1.252 1.263v22.219l7.855-7.835a1.263 1.263 0 011.786 1.786l-9.999 9.973a1.284 1.284 0 01-1.819-.033l-9.966-9.94a1.263 1.263 0 011.786-1.786l7.832 7.813V24.642H22.252A1.258 1.258 0 0121 23.379z" fill="#30355d" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                            h3.catalog-item__title Датчики
                        .catalog__overlay
                    .catalog__content-wrapper
                        a.catalog__item.catalog-item.catalog-item--1(href="system-clear.html")
                            span.catalog-item__number 05
                            span.catalog-item__arrow 
                                <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path id="Subdirectory_Arrow_Right" d="M21 23.379c0-.697.561-1.263 1.252-1.263h17.485c.691 0 1.252.566 1.252 1.263v22.219l7.855-7.835a1.263 1.263 0 011.786 1.786l-9.999 9.973a1.284 1.284 0 01-1.819-.033l-9.966-9.94a1.263 1.263 0 011.786-1.786l7.832 7.813V24.642H22.252A1.258 1.258 0 0121 23.379z" fill="#30355d" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                            h3.catalog-item__title Системы очистки
                        .catalog__overlay
                    .catalog__content-wrapper
                        a.catalog__item.catalog-item.catalog-item--1(href="system-control.html")
                            span.catalog-item__number 06
                            span.catalog-item__arrow 
                                <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path id="Subdirectory_Arrow_Right" d="M21 23.379c0-.697.561-1.263 1.252-1.263h17.485c.691 0 1.252.566 1.252 1.263v22.219l7.855-7.835a1.263 1.263 0 011.786 1.786l-9.999 9.973a1.284 1.284 0 01-1.819-.033l-9.966-9.94a1.263 1.263 0 011.786-1.786l7.832 7.813V24.642H22.252A1.258 1.258 0 0121 23.379z" fill="#30355d" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                            h3.catalog-item__title Системы контроля
                        .catalog__overlay


        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug