doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html")  Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a.active  Комплектующие

        .products
            .container
                h2.title-main Комплектующие
        .catalog__wrapper.tabs
            .catalog__content.tabs__content2.active
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-uf.html")
                        span.catalog-item__number 01
                        h3.catalog-item__title УФ-лампы
                    .catalog__overlay
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item-2.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-epra.html")
                        span.catalog-item__number 02
                        h3.catalog-item__title ЭПРА
                    .catalog__overlay
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-cvarc.html")
                        span.catalog-item__number 03
                        h3.catalog-item__title Кварцевые чехлы
                    .catalog__overlay
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-datchik.html")
                        span.catalog-item__number 04
                        h3.catalog-item__title Датчики
                    .catalog__overlay
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-clear.html")
                        span.catalog-item__number 05
                        h3.catalog-item__title Системы очистки
                    .catalog__overlay
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-control.html")
                        span.catalog-item__number 06
                        h3.catalog-item__title Системы контроля
                    .catalog__overlay


        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug