doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html")  Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a.active  Комплектующие

        .products
            .container
                h2.title-main Комплектующие
        .catalog__wrapper.tabs
            .catalog__content.tabs__content2.active
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-uf.html")
                        span.catalog-item__number.main-text 01
                        h3.catalog-item__title.main-text УФ-лампы
                    .catalog__overlay
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item-2.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-epra.html")
                        span.catalog-item__number.main-text 02
                        h3.catalog-item__title.main-text ЭПРА
                    .catalog__overlay
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-cvarc.html")
                        span.catalog-item__number.main-text 03
                        h3.catalog-item__title.main-text Кварцевые чехлы
                    .catalog__overlay
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-datchik.html")
                        span.catalog-item__number.main-text 04
                        h3.catalog-item__title.main-text Датчики
                    .catalog__overlay
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-clear.html")
                        span.catalog-item__number.main-text 05
                        h3.catalog-item__title.main-text Системы очистки
                    .catalog__overlay
                .catalog__content-wrapper
                    img.catalog__content-picture(src="img/bg/catalog-item.jpg" alt="")
                    a.catalog__item.catalog-item.catalog-item--1(href="complect-control.html")
                        span.catalog-item__number.main-text 06
                        h3.catalog-item__title.main-text Системы контроля
                    .catalog__overlay


        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug