doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html") Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a(href="catalog.html") Каталог
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a.active УФ-лампы

        .inner-content
            .container
                h2.title-main УФ-лампы
            .wide-picture
                img(src="img/bg/bg-picture4.jpg" alt="")
            .container
                p.title-complect Для установок обеззараживания воды тип УОВ-УФТ серий:
                a(href="uf-lump-inner.html").toggle-block.toggle-block--mode
                    .toggle-block__head.toggle-block__head--center
                        span УОВ-УФТ-А(АС)-1-150
                        <svg class="toggle-block__btn" viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)"></path><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"></path></g></svg>
                a(href="uf-lump-inner.html").toggle-block
                    .toggle-block__head.toggle-block__head--center
                        span УОВ-УФТ-А(АС)-1-150
                        <svg class="toggle-block__btn" viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)"></path><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"></path></g></svg>
                p.title-complect Для установок обеззараживания воздуха тип УФ-АЭРО
                a(href="uf-lump-inner.html").toggle-block
                    .toggle-block__head.toggle-block__head--center
                        span УОВ-УФТ-А(АС)-1-200
                        <svg class="toggle-block__btn" viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)"></path><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"></path></g></svg>
                p.title-complect Для установок обеззараживания воды тип УОВ-УФТ серий:
                a(href="uf-lump-inner.html").toggle-block
                    .toggle-block__head.toggle-block__head--center 
                        span УОВ-УФТ-А(АС)-1-250
                        <svg class="toggle-block__btn" viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)"></path><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"></path></g></svg>
                p.title-complect Для установок обеззараживания воды тип УОВ-УФТ серий:
                a(href="uf-lump-inner.html").toggle-block
                    .toggle-block__head.toggle-block__head--center
                        span УОВ-УФТ-А(АС)-1-350
                        <svg class="toggle-block__btn" viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)"></path><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"></path></g></svg>
                p.title-complect Для установок обеззараживания воды тип УОВ-УФТ серий:
                a(href="uf-lump-inner.html").toggle-block
                    .toggle-block__head.toggle-block__head--center
                        span УОВ-УФТ-А(АС)-(1-7)-500
                        <svg class="toggle-block__btn" viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)"></path><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"></path></g></svg>
                p.title-complect Для установок обеззараживания воды тип УОВ-УФТ серий:
                a(href="uf-lump-inner.html").toggle-block
                    .toggle-block__head.toggle-block__head--center
                        span УОВ-УФТ-АМ(АМС)-(1-44)-700
                        <svg class="toggle-block__btn" viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)"></path><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"></path></g></svg>
                p.title-complect Для установок обеззараживания воды тип УОВ-УФТ серий:
                a(href="uf-lump-inner.html").toggle-block
                    .toggle-block__head.toggle-block__head--center
                        span УОВ-УФТ-П(С)
                        <svg class="toggle-block__btn" viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)"></path><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"></path></g></svg>



        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug