doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html") Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a(href="accessories.html") Каталог
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a.active Датчики

        .complect-page
            .inner-content
                .container
                    h2.title-main Датчики
                .wide-picture
                    img(src="img/bg/bg-picture2.jpg" alt="")
                .container 
                    .list-items
                        ul.list-items__wrapper 
                            li
                                h3.list-items__title 
                                    <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    span Датчик УФ-облучения
                                .ltest-items__item-hide-text.ltest-items__item-hide-text--mobile
                                    h4 Артикул - <span data-article> 04001</span>
                                    p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;
                                .list-items__item 
                                    img(src="img/catalog/item1.jpg" alt="")
                                    span.list-items__info-btn 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    .ltest-items__item-hide-text
                                        h4 Артикул - <span data-article> 04001</span>
                                        p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;
                            li
                                h3.list-items__title
                                    <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    span Датчик температуры
                                .ltest-items__item-hide-text.ltest-items__item-hide-text--mobile
                                    h4 Артикул - <span data-article> 04001</span>
                                    p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;

                                .list-items__item
                                    img(src="img/catalog/item1.jpg" alt="")
                                    span.list-items__info-btn 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    .ltest-items__item-hide-text
                                        h4 Артикул - <span data-article> 04001</span>
                                        p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;
                            li
                                h3.list-items__title 
                                    <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    span Датчик давления воды 
                                .ltest-items__item-hide-text.ltest-items__item-hide-text--mobile
                                    h4 Артикул - <span data-article> 04001</span>
                                    p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;
                                .list-items__item 
                                    img(src="img/catalog/item3.jpg" alt="")
                                    span.list-items__info-btn 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    .ltest-items__item-hide-text
                                        h4 Артикул - <span data-article> 04001</span>
                                        p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;
                            li.hide
                                h3.list-items__title 
                                    <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    span Датчик УФ-облучения
                                .ltest-items__item-hide-text.ltest-items__item-hide-text--mobile
                                    h4 Артикул - <span data-article> 04001</span>
                                    p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;
                                .list-items__item 
                                    img(src="img/catalog/item4.jpg" alt="")
                                    span.list-items__info-btn 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    .ltest-items__item-hide-text
                                        h4 Артикул - <span data-article> 04001</span>
                                        p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;
                            li.hide
                                h3.list-items__title 
                                    <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    span Датчик УФ-облучения
                                .ltest-items__item-hide-text.ltest-items__item-hide-text--mobile
                                    h4 Артикул - <span data-article> 04001</span>
                                    p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;
                                .list-items__item 
                                    img(src="img/catalog/item5.jpg" alt="")
                                    span.list-items__info-btn 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    .ltest-items__item-hide-text
                                        h4 Артикул - <span data-article> 04001</span>
                                        p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;
                            li.hide
                                h3.list-items__title 
                                    <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    span Датчик УФ-облучения
                                .ltest-items__item-hide-text.ltest-items__item-hide-text--mobile
                                    h4 Артикул - <span data-article> 04001</span>
                                    p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;
                                .list-items__item 
                                    img(src="img/catalog/item6.jpg" alt="")
                                    span.list-items__info-btn 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M36.03 27.808c1.12 0 1.92-.832 1.92-1.952 0-1.056-.8-1.952-1.92-1.952-1.12 0-1.984.896-1.984 1.952 0 1.12.864 1.952 1.984 1.952zm-1.408 20.288h2.752v-16h-2.752v16z" fill="#c5c5c5" fill-rule="nonzero"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.16 8.841 71 18.5 71h35C63.159 71 71 63.16 71 53.5v-35z" fill="none" stroke="#c5c5c5" stroke-width="2"/></svg>
                                    .ltest-items__item-hide-text
                                        h4 Артикул - <span data-article> 04001</span>
                                        p Выдает соответствующий сигнал на контроллер для его обработки и выводе информации об интенсивности уф-облучения;

                    .show-more.show-more--mobile                            
                        button Показать еще






        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug