doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html")  Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a(href="index.html").active  Контакты

        .contacts
            .container
                h2.title-main Контакты
                .contacts__address.container-aside
                    ul.contacts__list 
                        li.contacts__list-head Производственный: 
                        li.contacts__list__address 141315, Mосковская область, г. Сергиев Посад, ул. Фабричная, д. 12-а.
                    ul.contacts__list 
                        li.contacts__list-head Производственный: 
                        li.contacts__list__address 141315, Mосковская область, г. Сергиев Посад, ул. Фабричная, д. 12-а.

            .contacts__map.inner-content.map#map

        .inner-content
            .container
                .inner-content__head.contacts__phone
                    h2.title-inner Телефоны
                    ul.phones-list.container-aside
                        li 
                            p.plones-list__item Бесплатная горячая линия
                            .phones-list__items
                                p 8-800-100-71-40
                        li 
                            p.plones-list__item Многоканальные в Москве
                            .phones-list__items 
                                p +7 (495) 973-25-56
                                p +7 (495) 979-93-92
                                p +7 (496) 549-08-10

            .phones__grafik-work.wide-block.inner-content
                .phones__grafik-work-wrapper
                    ul 
                        li Режим работы:
                    ul 
                        li 
                            p Пн.-Пт.:
                            p 8.00-17.00
                        li 
                            p Перерыв:
                            p 13.00-14.00


        include includes/index/feedback.pug



        include modules/footer.pug
        include modules/script-contacts.pug