doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html")  Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a(href="index.html")  Технология
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a.active Критерии подбора УОВ

        .criteria
            .container
                h2.title-main Критерии подбора УОВ
            .wide-picture
                img(src="img/bg/criteria.jpg" alt="")

        .tehnology-criteria.inner-content
            .container

                h3.title-inner Технологические и гигиенические критерии 
                .container-aside.container-aside--mode.inner-content
                    .tehnology-criteria__row
                        .tehnology-criteria__head Критерии использования УФ-облучения для обеззараживания питьевых и сточных вод (согласно МУК 4.3.2030-05)
                        .little-text
                            p Для точного выбора системы УФ – обеззараживания 
                                |
                                a(href="") заполните опросный лист
                                | или 
                                a(href="") внесите данные в форму.
                            p Основными факторами, влияющими на эффективность обеззараживания природных и сточных вод УФ-облучением, являются:
                            ul.tehnology-criteria__list 
                                li чувствительность различных вирусов к действию УФ-облучения
                                li 
                                    <a class="hover" data-caption="<a href='#'>МУ 3.2.1757-03</a> - не менее 25 мДж/кв. см для воды из подземных источников II, III класса и поверхностных источников; не менее 30 мДж/кв. см для бытовых и городских сточных вод.">Мощность лампы</a>
                                li степень поглощения УФ-облучения водной средой
                                li уровень взвешенных веществ в обеззараживаемой воде
                            p.hide Различные виды вирусов при одинаковых условиях облучения различают по степени чувствительности к УФ-облучению.
                        .show-more-mode
                            button Показать еще

                    .toggle-block
                        .toggle-block__head.toggle
                            span Дозы облучения, необходимые для инактивации 
                                | 
                                i.br 
                                | отдельных видов вирусов на 99,0 - 99,9%
                            <svg class="toggle-block__btn toggle-block__btn--plus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M19 36h34M36 19v34" fill="none" stroke="#30355d" stroke-width="2.5"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                            <svg class="toggle-block__btn toggle-block__btn--minus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="translate(-1486 -2069.715)"><path d="M1505 2105.71h34" fill="none" stroke="#30355d" stroke-width="2.5" id="_-"/></g><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.648)"/></svg>
                        table.table
                            tr.table__caption.table__caption--light
                                th.table__td Виды вирусов
                                th.table__td Доза облучения мДж/кв.см
                            tr 
                                td.table__td Аденовирус III типа
                                td.table__td 4,5
                            tr 
                                td.table__td Колифаги
                                td.table__td 6,6 - 8,1 - 25
                            tr 
                                td.table__td Коксаки
                                td.table__td 6,3
                            tr 
                                td.table__td Вирус гепатита А
                                td.table__td 8,0 - 11,0
                            tr 
                                td.table__td Полиовирус
                                td.table__td 16 - 25

                    .tehnology-criteria__row
                        .little-text
                            p Проникновение ультрафиолетовых лучей в воду сопровождается их поглощением как самой водой, так и веществами, находящимися в растворенном и взвешенном состоянии. Степень поглощения определяется физико-химическими свойствами обрабатываемой воды, а также толщиной ее слоя.
                            p.hide 
                                |
                                <a class="hover" data-caption="<a href='#'>МУ 3.2.1757-03</a> - не менее 25 мДж/кв. см для воды из подземных источников II, III класса и поверхностных источников; не менее 30 мДж/кв. см для бытовых и городских сточных вод.">Коэффициенты поглощения </a>
                                | УФ-лучей природными и сточными водами колеблются в пределах от 0,2 до 0,7. Коэффициенты поглощения УФ-лучей питьевой водой,       полученной из подземных источников водоснабжения, имеют значения 0,05 - 0,20, а из поверхностных - 0,15 - 0,30.
                            p.hide Наибольшее влияние на интенсивность поглощения биоцидной энергии оказывают цветность, мутность воды и содержание в ней железа.
                            p.hide С целью достижения гигиенической надежности, наименьших эксплуатационных и экономических затрат, обеззараживание питьевых, природных и сточных вод необходимо проводить при соответствии их качества параметрам, представленным в таблице.
                            p.hide В случае превышения допустимых характеристик воды, представленных в таблице ниже, хотя бы по одному из показателей, требуется проведение дополнительных санитарно-вирусологических исследований с целью обеспечения эффективного обеззараживания воды в отношении вирусов и выявления величины рабочей дозы облучения для конкретных условий.
                            p.hide Необходимую дозу облучения рекомендуется определять по степени инактивации колифагов как индикаторов вирусного загрязнения.
                        .show-more-mode
                            button Показать еще


                    .toggle-block
                        .toggle-block__head.toggle-block__head--center.toggle
                            span Характеристика воды
                            .tehnology-criteria__toggle
                                <svg class="toggle-block__btn toggle-block__btn--plus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M19 36h34M36 19v34" fill="none" stroke="#30355d" stroke-width="2.5"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                                <svg class="toggle-block__btn toggle-block__btn--minus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="translate(-1486 -2069.715)"><path d="M1505 2105.71h34" fill="none" stroke="#30355d" stroke-width="2.5" id="_-"/></g><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.648)"/></svg>
                        table.table.table-wrap
                            tr.table__caption.table__caption--light
                                th.table__td(colspan="4") Виды вирусов
                            tr 
                                td.table__td Аденовирус III типа
                                td.table__td 4,5
                                td.table__td Аденовирус III типа
                                td.table__td 4,5
                            tr 
                                td.table__td Колифаги
                                td.table__td 6,6 - 8,1 - 25
                                td.table__td Колифаги
                                td.table__td 6,6 - 8,1 - 25
                            tr 
                                td.table__td Коксаки
                                td.table__td 6,3
                                td.table__td Коксаки
                                td.table__td 6,3
                            tr 
                                td.table__td Вирус гепатита А
                                td.table__td 8,0 - 11,0
                                td.table__td Вирус гепатита А
                                td.table__td 8,0 - 11,0
                            tr 
                                td.table__td Полиовирус
                                td.table__td 16 - 25
                                td.table__td Полиовирус
                                td.table__td 16 - 25

                    .tehnology-criteria__row 
                        .little-text
                            p Выбор дозы УФ-облучения определяют характером и качеством воды, поступающей для обеззараживания:
                            ul.tehnology-criteria__list 
                                li не менее 16 мДж/кв. см для воды из подземных источников I класса и питьевых вод;
                                li не менее 25 мДж/кв. см для воды из подземных источников II, III класса и поверхностных источников; не менее 30 мДж/кв. см для бытовых и городских сточных вод;
                                li не менее 40 мДж/кв. см для любого типа вод при неблагоприятной эпидемической ситуации.
                            p.hide Под неблагоприятной эпидемической ситуацией подразумевают систематическое обнаружение 
                                |
                                a(href="") колифагов 
                                | в питьевой воде и энтеровирусов в источнике и питьевой воде и (или) наличие водных вспышек энтеровирусных заболеваний.
                            p.hide При УФ-облучении воды не существует проблемы передозировки.
                            p.hide Повышение дозы не приводит к гигиенически значимым неблагоприятным изменениям свойств воды и образованию побочных продуктов.
                            p.hide В случае ухудшения эпидемической ситуации, возникновения угрозы появления в источнике водоснабжения высокой концентрации энтеровирусов либо другой чрезвычайной ситуации, доза УФ-облучения может быть увеличена за счет снижения объема обрабатываемой воды, проходящей через единицу времени через УОВ путем включения в работу резервного оборудования или снижения общего расхода воды.
                            p.hide Доза УФ-облучения должна находиться в прямой зависимости от расхода обрабатываемой воды.
                            p.hide Тем не менее, согласно <a class="hover" data-caption="<a href='#'>МУ 3.2.1757-03</a> - не менее 25 мДж/кв. см для воды из подземных источников II, III класса и поверхностных источников; не менее 30 мДж/кв. см для бытовых и городских сточных вод.">МУ 3.2.1757-03</a>, эпидемическая безопасность воды по паразитологическим показателям достигается при обеззараживании ее УФ-облучением в дозах: для питьевой воды - 40 - 45 мДж/кв. см, сточной - не менее 65 мДж/кв. см.
                        .show-more-mode 
                            button Показать еще


                h3.title-inner Расчет дозы УФ-облучения
                .container-aside.container-aside--mode
                    .little-text
                        p Эффект обеззараживания воды D (доза облучения мДж/см2) зависит от произведения интенсивности бактерицидного облучения Е на продолжительность облучения Т.
                        .tehnology-criteria__formula 
                            span D = E*T
                        p Эмпирическая формула расчета коэффициента поглощения водой УФ-лучей. Где: Ц – цветность воды в градусах ( гр) П – эмпирическая величина учитывающая влияние мутности воды СFe – концентрация железа
                        .tehnology-criteria__formula.hide 
                            span А = Ц+П+10(СFe – 0,1) / 100
                        p.hide Интенсивность бактерицидного облучения изменяется по закону Ламберта-Бугера. Где E0 – минимальная интенсивность бактерицидного излучения на поверхности лампы,мВт/см2 a – коэффициент поглощения водой УФ-лучей, см-1 x – толщина слоя поглощающего вещества, см
                        .tehnology-criteria__formula.hide 
                            span А = Ц+П+10(СFe – 0,1) / 100
                        p.hide Процесс отмирания бактерий описывается уравнением. Где: Р – колииндекс воды после облучения, КОЕ/100 мл Ро – колииндекс воды до облучения КОЕ/100 мл Е – интенсивность бактерицидного облучения в мкВт Т – продолжительность облучения в с k – коэффициент сопротивляемости бактерий, принимаемый равным 2500 мкВт*с/см2
                        .tehnology-criteria__formula.hide 
                            span Р = Ро * ехр ( - ЕТ / k)
                    .show-more-mode 
                        button Показать еще


        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug