doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html")  Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a(href="index.html")  Технология
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a.active Критерии подбора УОВ

        .criteria
            .container
                h2.title-main Критерии подбора УОВ
            .criteria__picture

        .tehnology-criteria 
            .container

                h3.title-inner Технологические и гигиенические критерии 
                .container-aside.inner-content
                    .tehnology-criteria__row
                        .tehnology-criteria__head Критерии использования УФ-облучения для обеззараживания питьевых и сточных вод (согласно МУК 4.3.2030-05)
                        p Для точного выбора системы УФ – обеззараживания 
                            |
                            a(href="") заполните опросный лист
                            | или 
                            a(href="") внесите данные в форму.
                        p Основными факторами, влияющими на эффективность обеззараживания природных и сточных вод УФ-облучением, являются:
                        ul.tehnology-criteria__list 
                            li чувствительность различных вирусов к действию УФ-облучения
                            li 
                                a(href="") мощность лампы 
                            li степень поглощения УФ-облучения водной средой
                            li уровень взвешенных веществ в обеззараживаемой воде
                        p Различные виды вирусов при одинаковых условиях облучения различают по степени чувствительности к УФ-облучению.

                    .tehnology-criteria__row.tehnology-criteria__row--toggle
                        .tehnology-criteria__head.toggle
                            span Дозы облучения, необходимые для инактивации 
                                | 
                                i.br 
                                | отдельных видов вирусов на 99,0 - 99,9%
                            .tehnology-criteria__toggle
                        .tehnology-criteria__table 
                            table(border="0")
                                tr.table__title
                                    th Виды вирусов
                                    th Доза облучения мДж/кв.см
                                tr
                                    td Аденовирус III типа
                                    td 4,5
                                tr
                                    td Колифаги
                                    td 6,6 - 8,1 - 25
                                tr
                                    td Коксаки
                                    td 6,3
                                tr
                                    td Вирус гепатита А
                                    td 8,0 - 11,0
                                tr
                                    td Полиовирус
                                    td 16 - 25

                    .tehnology-criteria__row
                        p Проникновение ультрафиолетовых лучей в воду сопровождается их поглощением как самой водой, так и веществами, находящимися в растворенном и взвешенном состоянии. Степень поглощения определяется физико-химическими свойствами обрабатываемой воды, а также толщиной ее слоя.
                        p 
                            |
                            a(href="#") Коэффициенты поглощения 
                            | УФ-лучей природными и сточными водами колеблются в пределах от 0,2 до 0,7. Коэффициенты поглощения УФ-лучей питьевой водой,       полученной из подземных источников водоснабжения, имеют значения 0,05 - 0,20, а из поверхностных - 0,15 - 0,30.
                        p Наибольшее влияние на интенсивность поглощения биоцидной энергии оказывают цветность, мутность воды и содержание в ней железа.
                        p С целью достижения гигиенической надежности, наименьших эксплуатационных и экономических затрат, обеззараживание питьевых, природных и сточных вод необходимо проводить при соответствии их качества параметрам, представленным в таблице.
                        p В случае превышения допустимых характеристик воды, представленных в таблице ниже, хотя бы по одному из показателей, требуется проведение дополнительных санитарно-вирусологических исследований с целью обеспечения эффективного обеззараживания воды в отношении вирусов и выявления величины рабочей дозы облучения для конкретных условий.
                        p Необходимую дозу облучения рекомендуется определять по степени инактивации колифагов как индикаторов вирусного загрязнения.

                    .tehnology-criteria__row.tehnology-criteria__row--toggle
                        .tehnology-criteria__head.toggle
                            span Характеристика воды
                            .tehnology-criteria__toggle
                        .tehnology-criteria__table 
                            table(border="0")
                                tr.table__title
                                    th(colspan="4") Виды вирусов
                                tr
                                    td Аденовирус III типа
                                    td 4,5
                                    td Аденовирус III типа
                                    td 4,5
                                tr
                                    td Колифаги
                                    td 6,6 - 8,1 - 25
                                    td Колифаги
                                    td 6,6 - 8,1 - 25
                                tr
                                    td Коксаки
                                    td 6,3
                                    td Коксаки
                                    td 6,3
                                tr
                                    td Вирус гепатита А
                                    td 8,0 - 11,0
                                    td Вирус гепатита А
                                    td 8,0 - 11,0
                                tr
                                    td Полиовирус
                                    td 16 - 25
                                    td Полиовирус
                                    td 16 - 25
                                tr.table__title
                                    th(colspan="4") Виды вирусов
                                tr
                                    td Аденовирус III типа
                                    td 4,5
                                    td Аденовирус III типа
                                    td 4,5
                                tr
                                    td Колифаги
                                    td 6,6 - 8,1 - 25
                                    td Колифаги
                                    td 6,6 - 8,1 - 25
                                tr
                                    td Коксаки
                                    td 6,3
                                    td Коксаки
                                    td 6,3
                                tr
                                    td Вирус гепатита А
                                    td 8,0 - 11,0
                                    td Вирус гепатита А
                                    td 8,0 - 11,0
                                tr
                                    td Полиовирус
                                    td 16 - 25
                                    td Полиовирус
                                    td 16 - 25
                                tr.table__title
                                    th(colspan="4") Виды вирусов
                                tr
                                    td Аденовирус III типа
                                    td 4,5
                                    td Аденовирус III типа
                                    td 4,5
                                tr
                                    td Колифаги
                                    td 6,6 - 8,1 - 25
                                    td Колифаги
                                    td 6,6 - 8,1 - 25
                                tr
                                    td Коксаки
                                    td 6,3
                                    td Коксаки
                                    td 6,3
                                tr
                                    td Вирус гепатита А
                                    td 8,0 - 11,0
                                    td Вирус гепатита А
                                    td 8,0 - 11,0
                                tr
                                    td Полиовирус
                                    td 16 - 25
                                    td Полиовирус
                                    td 16 - 25

                    .tehnology-criteria__row 
                        p Выбор дозы УФ-облучения определяют характером и качеством воды, поступающей для обеззараживания:
                        ul.tehnology-criteria__list 
                            li не менее 16 мДж/кв. см для воды из подземных источников I класса и питьевых вод;
                            li не менее 25 мДж/кв. см для воды из подземных источников II, III класса и поверхностных источников; не менее 30 мДж/кв. см для бытовых и городских сточных вод;
                            li не менее 40 мДж/кв. см для любого типа вод при неблагоприятной эпидемической ситуации.
                        p Под неблагоприятной эпидемической ситуацией подразумевают систематическое обнаружение 
                            |
                            a(href="") колифагов 
                            | в питьевой воде и энтеровирусов в источнике и питьевой воде и (или) наличие водных вспышек энтеровирусных заболеваний.
                        p При УФ-облучении воды не существует проблемы передозировки.
                        p Повышение дозы не приводит к гигиенически значимым неблагоприятным изменениям свойств воды и образованию побочных продуктов.
                        p В случае ухудшения эпидемической ситуации, возникновения угрозы появления в источнике водоснабжения высокой концентрации энтеровирусов либо другой чрезвычайной ситуации, доза УФ-облучения может быть увеличена за счет снижения объема обрабатываемой воды, проходящей через единицу времени через УОВ путем включения в работу резервного оборудования или снижения общего расхода воды.
                        p Доза УФ-облучения должна находиться в прямой зависимости от расхода обрабатываемой воды.
                        p Тем не менее, согласно МУ 3.2.1757-03, эпидемическая безопасность воды по паразитологическим показателям достигается при обеззараживании ее УФ-облучением в дозах: для питьевой воды - 40 - 45 мДж/кв. см, сточной - не менее 65 мДж/кв. см.


                h3.title-inner Расчет дозы УФ-облучения
                .container-aside
                    p Эффект обеззараживания воды D (доза облучения мДж/см2) зависит от произведения интенсивности бактерицидного облучения Е на продолжительность облучения Т.
                    .tehnology-criteria__formula 
                        span D = E*T
                    p Эмпирическая формула расчета коэффициента поглощения водой УФ-лучей. Где: Ц – цветность воды в градусах ( гр) П – эмпирическая величина учитывающая влияние мутности воды СFe – концентрация железа
                    .tehnology-criteria__formula 
                        span А = Ц+П+10(СFe – 0,1) / 100
                    p Интенсивность бактерицидного облучения изменяется по закону Ламберта-Бугера. Где E0 – минимальная интенсивность бактерицидного излучения на поверхности лампы,мВт/см2 a – коэффициент поглощения водой УФ-лучей, см-1 x – толщина слоя поглощающего вещества, см
                    .tehnology-criteria__formula 
                        span А = Ц+П+10(СFe – 0,1) / 100
                    p Процесс отмирания бактерий описывается уравнением. Где: Р – колииндекс воды после облучения, КОЕ/100 мл Ро – колииндекс воды до облучения КОЕ/100 мл Е – интенсивность бактерицидного облучения в мкВт Т – продолжительность облучения в с k – коэффициент сопротивляемости бактерий, принимаемый равным 2500 мкВт*с/см2
                    .tehnology-criteria__formula 
                        span Р = Ро * ехр ( - ЕТ / k)


        include modules/footer.pug
        include modules/script.pug