doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html") Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a(href="index.html") Каталог
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a(href="index.html").active ЭПРА

        .inner-content
            .container
                h2.title-main ЭПРА
            .wide-picture
                img(src="img/bg/bg-picture4.jpg" alt="")
            .container 
                .toggle-block.toggle-block--mode
                    .toggle-block__head.toggle 
                        span УОВ-УФТ-А(АС)
                        <svg class="toggle-block__btn toggle-block__btn--plus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M19 36h34M36 19v34" fill="none" stroke="#30355d" stroke-width="2.5"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                        <svg class="toggle-block__btn toggle-block__btn--minus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="translate(-1486 -2069.715)"><path d="M1505 2105.71h34" fill="none" stroke="#30355d" stroke-width="2.5" id="_-"/></g><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.648)"/></svg>
                    .toggle-block__content
                        .complect-item
                            .complect-item__aside
                                span.complect-item__article Артикул - 01004
                                p.complect-item__title Электронный пускорегулирующий аппарат - ЭПРА Л~220-1х500-2212-170
                            .complect-item__picture.complect-item__picture--mode.container-aside.container-aside--min
                                img(src="img/catalog/item13.jpg" alt="")
                        .complect-item__content 
                            .table-main.table-main--mode.table.hideContent
                                .table__caption
                                    p Технические параметры		
                                    p Измерения	
                                a.table__row 
                                    p Предварительный подогрев электродов
                                    p Да
                                a.table__row
                                    p Защита от аномального режима ламп
                                    p Да
                                a.table__row
                                    p Защита от обрыва кабеля
                                    p 39±2 Вт	
                                a.table__row
                                    p Срок службы
                                    p 270 мм	
                                a.table__row
                                    p Длина дуги	
                                    p 400 мм
                                a.table__row.hide
                                    p Предварительный подогрев электродов
                                    p Да
                                a.table__row.hide
                                    p Защита от аномального режима ламп
                                    p Да
                                a.table__row.hide
                                    p Защита от обрыва кабеля
                                    p 39±2 Вт	
                                a.table__row.hide
                                    p Срок службы
                                    p 270 мм	
                                a.table__row.hide
                                    p Длина дуги	
                                    p 400 мм
                            .show-more 
                                button показать больше
                .toggle-block.toggle-block--mode
                    .toggle-block__head.toggle 
                        span УОВ-УФТ-А(АС)УОВ-УФТ-АМ(АМС)
                        <svg class="toggle-block__btn toggle-block__btn--plus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M19 36h34M36 19v34" fill="none" stroke="#30355d" stroke-width="2.5"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                        <svg class="toggle-block__btn toggle-block__btn--minus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="translate(-1486 -2069.715)"><path d="M1505 2105.71h34" fill="none" stroke="#30355d" stroke-width="2.5" id="_-"/></g><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.648)"/></svg>
                    .toggle-block__content
                        .complect-item
                            .complect-item__aside
                                span.complect-item__article Артикул - 01004
                                p.complect-item__title Электронный пускорегулирующий аппарат - ЭПРА Л~220-1х500-2212-170
                            .complect-item__picture.complect-item__picture--mode.container-aside.container-aside--min
                                img(src="img/catalog/item13.jpg" alt="")
                        .complect-item__content 
                            .table-main.table-main--mode.table.hideContent
                                .table__caption
                                    p Технические параметры		
                                    p Измерения	
                                a.table__row 
                                    p Предварительный подогрев электродов
                                    p Да
                                a.table__row
                                    p Защита от аномального режима ламп
                                    p Да
                                a.table__row
                                    p Защита от обрыва кабеля
                                    p 39±2 Вт	
                                a.table__row
                                    p Срок службы
                                    p 270 мм	
                                a.table__row
                                    p Длина дуги	
                                    p 400 мм
                                a.table__row.hide 
                                    p Предварительный подогрев электродов
                                    p Да
                                a.table__row.hide
                                    p Защита от аномального режима ламп
                                    p Да
                                a.table__row.hide
                                    p Защита от обрыва кабеля
                                    p 39±2 Вт	
                                a.table__row.hide
                                    p Срок службы
                                    p 270 мм	
                                a.table__row.hide
                                    p Длина дуги	
                                    p 400 мм
                            .show-more 
                                button показать больше
                .toggle-block.toggle-block--mode
                    .toggle-block__head.toggle 
                        span УОВ-УФТ-П(С)
                        <svg class="toggle-block__btn toggle-block__btn--plus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M19 36h34M36 19v34" fill="none" stroke="#30355d" stroke-width="2.5"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                        <svg class="toggle-block__btn toggle-block__btn--minus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="translate(-1486 -2069.715)"><path d="M1505 2105.71h34" fill="none" stroke="#30355d" stroke-width="2.5" id="_-"/></g><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.648)"/></svg>
                    .toggle-block__content
                        .complect-item
                            .complect-item__aside
                                span.complect-item__article Артикул - 01004
                                p.complect-item__title Электронный пускорегулирующий аппарат - ЭПРА Л~220-1х500-2212-170
                            .complect-item__picture.complect-item__picture--mode.container-aside.container-aside--min
                                img(src="img/catalog/item13.jpg" alt="")
                        .complect-item__content 
                            .table-main.table-main--mode.table.hideContent
                                .table__caption
                                    p Технические параметры		
                                    p Измерения	
                                a.table__row 
                                    p Предварительный подогрев электродов
                                    p Да
                                a.table__row
                                    p Защита от аномального режима ламп
                                    p Да
                                a.table__row
                                    p Защита от обрыва кабеля
                                    p 39±2 Вт	
                                a.table__row
                                    p Срок службы
                                    p 270 мм	
                                a.table__row
                                    p Длина дуги	
                                    p 400 мм
                                a.table__row.hide 
                                    p Предварительный подогрев электродов
                                    p Да
                                a.table__row.hide
                                    p Защита от аномального режима ламп
                                    p Да
                                a.table__row.hide
                                    p Защита от обрыва кабеля
                                    p 39±2 Вт	
                                a.table__row.hide
                                    p Срок службы
                                    p 270 мм	
                                a.table__row.hide
                                    p Длина дуги	
                                    p 400 мм
                            .show-more 
                                button показать больше
                .toggle-block.toggle-block--mode
                    .toggle-block__head.toggle 
                        span УОВ-УФТ-А(АС) старого поколения
                        <svg class="toggle-block__btn toggle-block__btn--plus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M19 36h34M36 19v34" fill="none" stroke="#30355d" stroke-width="2.5"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                        <svg class="toggle-block__btn toggle-block__btn--minus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="translate(-1486 -2069.715)"><path d="M1505 2105.71h34" fill="none" stroke="#30355d" stroke-width="2.5" id="_-"/></g><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.648)"/></svg>
                    .toggle-block__content
                        .complect-item
                            .complect-item__aside
                                span.complect-item__article Артикул - 01004
                                p.complect-item__title Электронный пускорегулирующий аппарат - ЭПРА Л~220-1х500-2212-170
                            .complect-item__picture.complect-item__picture--mode.container-aside.container-aside--min
                                img(src="img/catalog/item13.jpg" alt="")
                        .complect-item__content 
                            .table-main.table-main--mode.table.hideContent
                                .table__caption
                                    p Технические параметры		
                                    p Измерения	
                                a.table__row 
                                    p Предварительный подогрев электродов
                                    p Да
                                a.table__row
                                    p Защита от аномального режима ламп
                                    p Да
                                a.table__row
                                    p Защита от обрыва кабеля
                                    p 39±2 Вт	
                                a.table__row
                                    p Срок службы
                                    p 270 мм	
                                a.table__row
                                    p Длина дуги	
                                    p 400 мм
                                a.table__row.hide 
                                    p Предварительный подогрев электродов
                                    p Да
                                a.table__row.hide
                                    p Защита от аномального режима ламп
                                    p Да
                                a.table__row.hide
                                    p Защита от обрыва кабеля
                                    p 39±2 Вт	
                                a.table__row.hide
                                    p Срок службы
                                    p 270 мм	
                                a.table__row.hide
                                    p Длина дуги	
                                    p 400 мм
                            .show-more 
                                button показать больше
                .toggle-block.toggle-block--mode
                    .toggle-block__head.toggle 
                        span УОВ-УФТ-АМ(АМС) старого поколения
                        <svg class="toggle-block__btn toggle-block__btn--plus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M19 36h34M36 19v34" fill="none" stroke="#30355d" stroke-width="2.5"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                        <svg class="toggle-block__btn toggle-block__btn--minus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="translate(-1486 -2069.715)"><path d="M1505 2105.71h34" fill="none" stroke="#30355d" stroke-width="2.5" id="_-"/></g><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.648)"/></svg>
                    .toggle-block__content
                        .complect-item
                            .complect-item__aside
                                span.complect-item__article Артикул - 01004
                                p.complect-item__title Электронный пускорегулирующий аппарат - ЭПРА Л~220-1х500-2212-170
                            .complect-item__picture.complect-item__picture--mode.container-aside.container-aside--min
                                img(src="img/catalog/item13.jpg" alt="")
                        .complect-item__content 
                            .table-main.table-main--mode.table.hideContent
                                .table__caption
                                    p Технические параметры		
                                    p Измерения	
                                a.table__row 
                                    p Предварительный подогрев электродов
                                    p Да
                                a.table__row
                                    p Защита от аномального режима ламп
                                    p Да
                                a.table__row
                                    p Защита от обрыва кабеля
                                    p 39±2 Вт	
                                a.table__row
                                    p Срок службы
                                    p 270 мм	
                                a.table__row
                                    p Длина дуги	
                                    p 400 мм
                                a.table__row.hide 
                                    p Предварительный подогрев электродов
                                    p Да
                                a.table__row.hide
                                    p Защита от аномального режима ламп
                                    p Да
                                a.table__row.hide
                                    p Защита от обрыва кабеля
                                    p 39±2 Вт	
                                a.table__row.hide
                                    p Срок службы
                                    p 270 мм	
                                a.table__row.hide
                                    p Длина дуги	
                                    p 400 мм
                            .show-more 
                                button показать больше





        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug