doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-index.pug
        include includes/index/catalog.pug
        include includes/index/about.pug
        include includes/index/advantage.pug
        include includes/index/objects.pug
        include includes/index/feedback.pug
        include modules/footer.pug
        include modules/script.pug
