doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html")  Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a.active  Объекты

        .objects-page
            .container
                h2.title-main Объекты
                .objects-page__wrapper 
                    .objects-page__selects 
                        select.select-css
                            option(value="") 2008 
                            option(value="") 2009
                            option(value="") 2010
                        select.select-css
                            option(value="") Область/город
                            option(value="") Область/город
                            option(value="") Область/город
                    .objects-page__content.inner-content
                        .objects__aside
                            h2.objects-page__address Московская обл., г. Ивантеевка.
                            h3 Городская станция обезжелезивания и обеззараживания
                            p Система обеззараживания воды 16 000 м3/сутки.
                        .objects__aside
                            h2.objects-page__address Московская обл., г. Сергиев Посад
                            h3 ГУП Мос НПО «РАДОН»
                            p Система автоматической механической фильтрации и УФ-обеззараживания воды 200 м3/час.
                        .objects__aside
                            h2.objects-page__address Тульская обл., г. Узловая.
                            h3 Городская станция обезжелезивания и обеззараживания
                            p Система обеззараживания воды 10 000 м3/сутки.
                        .objects__aside
                            h2.objects-page__address Московская обл., г. Сергиев Посад
                            h3 ГУП Мос НПО «РАДОН»
                            p Система автоматической механической фильтрации и УФ-обеззараживания воды 200 м3/час.
                        .objects__aside
                            h2.objects-page__address Московская обл., г. Ивантеевка.
                            h3 Городская станция обезжелезивания и обеззараживания
                            p Система обеззараживания воды 16 000 м3/сутки.




        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug