doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html")  Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a.active Сервис и поддержка
        .support
            .container
                h2.title-main Сервис и поддержка
            .wide-picture  
                img(src="img/bg/box.jpg" alt="")
            include includes/support/delivery.pug
            include includes/support/pay.pug
            include includes/support/work.pug
            include includes/support/teh.pug

        include modules/footer.pug
        include modules/script.pug