doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html")  Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a(href="index.html")  Каталог
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a(href="index.html").active  Обеззараживание воды бассейнов

        .water-page
            .inner-content
                .container
                    h2.title-main Обеззараживание воды бассейнов
                .wide-picture
                    img(src="img/bg/bg-picture.jpg" alt="")
                .container 
                    .water-page__description
                        h2.title-inner Описание
                        .container-aside 
                            p.water-page__over Обеззараживание воды в бассейнах как индивидуального, так и общественного пользования, очень важно для гарантированной защиты здоровья. Ведь именно водная среда в наибольшей степени способствует размножению вредоносных организмов и распространению вредных химических веществ.
                            p.water-page__sub Наиболее эффективным на сегодняшний день методом обеззараживания плавательных бассейнов является ультрафиолетовое 
                                |
                                a(href="") обеззараживание. 
                                | Данная процедура осуществляется при помощи использования специальной бактерицидной установки под воздействием УФ излучения на волне 254 нм. 
                            p.water-page__sub Наиболее эффективным на сегодняшний день методом обеззараживания плавательных бассейнов является ультрафиолетовое обеззараживание. Данная процедура осуществляется при помощи использования специальной бактерицидной установки под воздействием УФ излучения на волне 254 нм. 
            .inner-content 
                .container
                    h2.title-inner Модели установок
                    .table-main.table.hideContent
                        .table__caption 
                            p Наименование	
                            p Тип бассейна		
                            p Средняя глубина, м	
                            p Площадь, м2	
                            p Время полного водообмена в час, не более
                        a.table__row 
                            p УОВ-УФТ-П-2
                            p домашний / уличный	
                            p 0,9
                            p 9
                            p 9
                        a.table__row
                            p УОВ-УФТ-П-5
                            p домашний / уличный	
                            p 1,5	
                            p 1,5	
                            p 1,5	
                        a.table__row
                            p УОВ-УФТ-А-1-150
                            p домашний / уличный	
                            p 1,5	
                            p 1,5	
                            p 1,5	
                        a.table__row
                            p УОВ-УФТ-АМ-2-700
                            p домашний / уличный	
                            p 1,5	
                            p 1,5	
                            p 1,5	
                        a.table__row
                            p УОВ-УФТ-А-1-150
                            p домашний / уличный	
                            p 1,5	
                            p 1,5	
                            p 1,5	
                        a.table__row 
                            p УОВ-УФТ-П-2
                            p домашний / уличный	
                            p 0,9
                            p 9
                            p 9
                        a.table__row
                            p УОВ-УФТ-П-5
                            p домашний / уличный	
                            p 1,5	
                            p 1,5	
                            p 1,5	
                        a.table__row
                            p УОВ-УФТ-А-1-150
                            p домашний / уличный	
                            p 1,5	
                            p 1,5	
                            p 1,5	
                        a.table__row
                            p УОВ-УФТ-АМ-2-700
                            p домашний / уличный	
                            p 1,5	
                            p 1,5	
                            p 1,5	
                        a.table__row
                            p УОВ-УФТ-А-1-150
                            p домашний / уличный	
                            p 1,5	
                            p 1,5	
                            p 1,5	
                    .show-more 
                        button показать больше

            .inner-content 
                .container 
                    .inner-content__head.inner-content__head--center
                        h2.title-inner.title-inner--without-indent Цели бактерицидной установки
                        .missions__arrows 
                            .slick-missions__prev.slick-arrow 
                                <svg viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(-.35671 0 0 -.75269 131.556 1171.44)"/><g transform="rotate(-180 140.417 975.965)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)" id="_134288"/></g></svg>
                            .slick-missions__next.slick-arrow
                                <svg viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)" /><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)" id="_134288" /></g></svg>

                    .missions.slick-slider 
                        .missions__item 
                            p Цели бактерицидной установки
                        .missions__item
                            p Детские бассейны
                        .missions__item
                            p Спортивные и оздоровительные бассейны
                        .missions__item
                            p Сточные воды в бассейнах любых видов
                        .missions__item 
                            p Цели бактерицидной установки
                        .missions__item
                            p Детские бассейны
                        .missions__item
                            p Спортивные и оздоровительные бассейны
                        .missions__item
                            p Сточные воды в бассейнах любых видов





        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug