doctype html
html(lang="ru")
    include modules/head
    body
        include modules/header-inner.pug
        .breadcrumbs.container 
            ul 
                li
                    a(href="index.html")  Главная
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a(href="catalog.html")  Вода
                li
                    img(src="img/svg/arrow-br.svg" alt="")
                li
                    a.active  Сточные воды

        .water-page
            .inner-content
                .container
                    h2.title-main Сточная вода
                .wide-picture
                    img(src="img/bg/bg-picture.jpg" alt="")
                .container 
                    .water-page__description
                        h2.title-inner Описание
                        .container-aside 
                            p.main-text.line-clamp Обеззараживание воды в бассейнах как индивидуального, так и общественного пользования, очень важно для гарантированной защиты здоровья. Ведь именно водная среда в наибольшей степени способствует размножению вредоносных организмов и распространению вредных химических веществ.
                            button#clamp еще
                            .block-list.add-text 
                                p Бактерицидные установки могут использоваться для различных типов бассейнов:
                                ul 
                                    li в индивидуальных плавательных бассейнах;
                                    li в детских бассейнах;
                                    li в спортивных и оздоровительных бассейнах;
                                    li для обеззараживания сточных вод в бассейнах любых видов.
                                p Качество пресной воды, поступающей в ванну плавательного бассейна, должно отвечать гигиеническим требованиям, предъявляемым к качеству воды централизованных систем питьевого водоснабжения вне зависимости от принятой системы водообеспечения и характера водообмена.

                    p.table__title.main-text Применяемость установок установок «УОВ-УФТ» в соответствии с СанПиН 2.1.2. 1188-03
                    table.table.table-wrap.table--notborder
                        tr.table__caption.table__caption--light
                            th.table__td Наименование		
                            th.table__td Артикул	
                            th.table__td Мощность	
                            th.table__td Производительность	
                            th.table__td Напряжение	
                        tr.table__tr.table__tr--hover 
                            td.table__td.table__td--border БП-3
                            td.table__td.table__td--border 01453254
                            td.table__td.table__td--border 0,9
                            td.table__td.table__td--border 9
                            td.table__td.table__td--border 9
                        tr.table__tr.table__tr--hover 
                            td.table__td.table__td--border БП-2-0,18
                            td.table__td.table__td--border 245252
                            td.table__td.table__td--border 1,5	
                            td.table__td.table__td--border 1,5	
                            td.table__td.table__td--border 1,5	
                        tr.table__tr.table__tr--hover 
                            td.table__td.table__td--border БП
                            td.table__td.table__td--border 542542
                            td.table__td.table__td--border 1,5	
                            td.table__td.table__td--border 1,5	
                            td.table__td.table__td--border 1,5	
                        tr.table__tr.table__tr--hover 
                            td.table__td.table__td--border Срок службы
                            td.table__td.table__td--border 270 мм
                            td.table__td.table__td--border 270 мм
                            td.table__td.table__td--border 270 мм
                            td.table__td.table__td--border 270 мм
                        tr.table__tr.table__tr--hover.hide 
                            td.table__td.table__td--border Длина дуги	
                            td.table__td.table__td--border 400 мм
                            td.table__td.table__td--border 400 мм
                            td.table__td.table__td--border 400 мм
                            td.table__td.table__td--border 400 мм
                        tr.table__tr.table__tr--hover.hide 
                            td.table__td.table__td--border БП
                            td.table__td.table__td--border 542542
                            td.table__td.table__td--border 1,5	
                            td.table__td.table__td--border 1,5	
                            td.table__td.table__td--border 1,5	
                        tr.table__tr.table__tr--hover.hide 
                            td.table__td.table__td--border Срок службы
                            td.table__td.table__td--border 270 мм
                            td.table__td.table__td--border 270 мм
                            td.table__td.table__td--border 270 мм
                            td.table__td.table__td--border 270 мм
                        tr.table__tr.table__tr--hover.hide 
                            td.table__td.table__td--border Длина дуги	
                            td.table__td.table__td--border 400 мм
                            td.table__td.table__td--border 400 мм
                            td.table__td.table__td--border 400 мм
                            td.table__td.table__td--border 400 мм
                    .show-more 
                        button показать больше


            .inner-content 
                .container.df 
                    h2.title-inner Исполнение
                    .container-aside.container-aside--mode.little-text
                        p.main-text Горизонтальное расположение, исполнение «И» - изготавливается серийно. Вертикальное расположение и другие виды исполнения «П», «Г» - по запросу. Исполнение «Т» для двух ламповых установок.
                .advantage-tabs.advantage-tabs--mode.tabs
                    .advantage-tabs__picture.tabs__content.active
                        img.img--mode(src="img/ptig/g.jpg" alt="")
                    .advantage-tabs__picture.tabs__content
                        img.img--mode(src="img/ptig/p.jpg" alt="")
                    .advantage-tabs__picture.tabs__content
                        img.img--mode(src="img/ptig/i.jpg" alt="")
                    .advantage-tabs__picture.tabs__content
                        img.img--mode(src="img/ptig/t.jpg" alt="")
                    .container
                        ul.advantages-tabs__tab-wrapper.tabs__caption
                            li.advantage-tabs__tab.active
                                h3.main-text Г - исполнение
                            li.advantage-tabs__tab
                                h3.main-text П - исполнение
                            li.advantage-tabs__tab
                                h3.main-text И - исполнение
                            li.advantage-tabs__tab
                                h3.main-text Т - исполнение

                .execution 
                    .container
                        .execution__slick 
                            .execution__item 
                                img(src="img/ptig/g.jpg" alt="")
                            .execution__item 
                                img(src="img/ptig/i.jpg" alt="")
                            .execution__item 
                                img(src="img/ptig/i.jpg" alt="")
                            .execution__item 
                                img(src="img/ptig/t.jpg" alt="")
                        .execution__pagination
                            .slick-execution__prev.slick-objects__arrow
                                <svg viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(-.35671 0 0 -.75269 131.556 1171.44)"/><g transform="rotate(-180 140.417 975.965)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)" /></g></svg>
                            .slick-execution__next.slick-objects__arrow
                                <svg viewBox="0 0 81 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M366 1485.25c0-12.83-21.983-23.25-49.059-23.25H194.059c-27.076 0-49.059 10.42-49.059 23.25v46.5c0 12.83 21.983 23.25 49.059 23.25h122.882c27.076 0 49.059-10.42 49.059-23.25v-46.5z" fill="none" stroke="#30355d" stroke-width="3.4" transform="matrix(.35671 0 0 .75269 -50.723 -1099.43)" /><g transform="translate(-200 -1879.92)"><path d="M46.923 26.618a1 1 0 00-.217-.326L30.707 10.293a.999.999 0 10-1.414 1.414L43.586 26H1a1 1 0 100 2h42.586L29.293 42.293a.999.999 0 101.414 1.414l15.999-15.999a1.001 1.001 0 00.217-1.09z" fill="#30355d" fill-rule="nonzero" stroke="#30355d" stroke-width=".89" stroke-linecap="butt" stroke-miterlimit="1.414" transform="matrix(.7309 0 0 .72436 223.241 1896.362)"  /></g></svg>


            .inner-content.equipment 
                .container.df 
                    h2.title-inner Комплектация
                    .container-aside.container-aside--mode
                        p.main-text Одноламповые установки выпускаются в разных комплектациях, в зависимости от Ваших потребностей и предпочтений. Комплектацию можно выбрать в карточке модели оборудования. 
                        ul.equipment__list 
                            li 
                                .equipment__name.toggle 
                                    h3.main-text Мини
                                    <svg class="toggle-block__btn toggle-block__btn--plus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M19 36h34M36 19v34" fill="none" stroke="#30355d" stroke-width="2.5"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                                    <svg class="toggle-block__btn toggle-block__btn--minus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="translate(-1486 -2069.715)"><path d="M1505 2105.71h34" fill="none" stroke="#30355d" stroke-width="2.5" id="_-"/></g><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.648)"/></svg>
                                p.add-text Серия компактных, одноламповых установок средней ценовой категории. Рекомендованы для применения на малых водозаборах, для набольших производств, бассейнов, малых очистных сооружений.
                            li 
                                .equipment__name.toggle 
                                    h3.main-text Норма
                                    <svg class="toggle-block__btn toggle-block__btn--plus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M19 36h34M36 19v34" fill="none" stroke="#30355d" stroke-width="2.5"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                                    <svg class="toggle-block__btn toggle-block__btn--minus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="translate(-1486 -2069.715)"><path d="M1505 2105.71h34" fill="none" stroke="#30355d" stroke-width="2.5" id="_-"/></g><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.648)"/></svg>
                                p.add-text Серия компактных, одноламповых установок средней ценовой категории. Рекомендованы для применения на малых водозаборах, для набольших производств, бассейнов, малых очистных сооружений.
                            li 
                                .equipment__name.toggle 
                                    h3.main-text Прим
                                    <svg class="toggle-block__btn toggle-block__btn--plus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M19 36h34M36 19v34" fill="none" stroke="#30355d" stroke-width="2.5"/><path d="M71 18.5C71 8.841 63.159 1 53.5 1h-35C8.841 1 1 8.841 1 18.5v35C1 63.159 8.841 71 18.5 71h35C63.159 71 71 63.159 71 53.5v-35z" fill="none" stroke="#30355d" stroke-width="2"/></svg>
                                    <svg class="toggle-block__btn toggle-block__btn--minus" viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><g transform="translate(-1486 -2069.715)"><path d="M1505 2105.71h34" fill="none" stroke="#30355d" stroke-width="2.5" id="_-"/></g><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.648)"/></svg>
                                p.add-text Серия компактных, одноламповых установок средней ценовой категории. Рекомендованы для применения на малых водозаборах, для набольших производств, бассейнов, малых очистных сооружений.

            .inner-content 
                .container.df 
                    h2.title-inner Требования
                    .container-aside.container-aside--mode 
                        p.main-text Требования к УФ оборудованию, условиям эксплуатации при уф-обеззараживании:
                        .documents__links.documents__links--mode
                            ul.documents__list
                                li 
                                    a(href="") 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.646)"/><text x="220" y="2399" font-family="'EuclidCircularA-Regular','Euclid Circular A',sans-serif" font-size="24" fill="#30355d" transform="translate(-206.057 -2360.347)">PDF</text><path d="M98 5072.91h51" fill="none" stroke="#30355d" stroke-width="2.27" transform="matrix(.7451 0 0 1 -56.02 -5021.561)"/></svg>
                                        p Сертификат соответствия ГОСТ ISO 9001-2015 
                                li 
                                    a(href="") 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.646)"/><text x="220" y="2399" font-family="'EuclidCircularA-Regular','Euclid Circular A',sans-serif" font-size="24" fill="#30355d" transform="translate(-206.057 -2360.347)">PDF</text><path d="M98 5072.91h51" fill="none" stroke="#30355d" stroke-width="2.27" transform="matrix(.7451 0 0 1 -56.02 -5021.561)"/></svg>
                                        p Отказное письмо Роспотребнадзора
                                li 
                                    a(href="") 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.646)"/><text x="220" y="2399" font-family="'EuclidCircularA-Regular','Euclid Circular A',sans-serif" font-size="24" fill="#30355d" transform="translate(-206.057 -2360.347)">PDF</text><path d="M98 5072.91h51" fill="none" stroke="#30355d" stroke-width="2.27" transform="matrix(.7451 0 0 1 -56.02 -5021.561)"/></svg>
                                        p Свидетельство о государственной регистрации продукции в рамках таможенного союза России, Беларуси и Казахстана

                        p.main-text Гигиенические требования к качеству воды:
                        .documents__links.documents__links--mode
                            ul.documents__list 
                                li 
                                    a(href="") 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.646)"/><text x="220" y="2399" font-family="'EuclidCircularA-Regular','Euclid Circular A',sans-serif" font-size="24" fill="#30355d" transform="translate(-206.057 -2360.347)">PDF</text><path d="M98 5072.91h51" fill="none" stroke="#30355d" stroke-width="2.27" transform="matrix(.7451 0 0 1 -56.02 -5021.561)"/></svg>
                                        p Сертификат соответствия ГОСТ ISO 9001-2015 
                                li 
                                    a(href="") 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.646)"/><text x="220" y="2399" font-family="'EuclidCircularA-Regular','Euclid Circular A',sans-serif" font-size="24" fill="#30355d" transform="translate(-206.057 -2360.347)">PDF</text><path d="M98 5072.91h51" fill="none" stroke="#30355d" stroke-width="2.27" transform="matrix(.7451 0 0 1 -56.02 -5021.561)"/></svg>
                                        p Отказное письмо Роспотребнадзора
                                li.hide 
                                    a(href="") 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.646)"/><text x="220" y="2399" font-family="'EuclidCircularA-Regular','Euclid Circular A',sans-serif" font-size="24" fill="#30355d" transform="translate(-206.057 -2360.347)">PDF</text><path d="M98 5072.91h51" fill="none" stroke="#30355d" stroke-width="2.27" transform="matrix(.7451 0 0 1 -56.02 -5021.561)"/></svg>
                                        p Свидетельство о государственной регистрации продукции в рамках таможенного союза России, Беларуси и Казахстана
                                li.hide 
                                    a(href="") 
                                        <svg viewBox="0 0 72 72" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="1.5"><path d="M1148 571.228c0-7.869-21.17-14.258-47.25-14.258h-94.5c-26.078 0-47.25 6.389-47.25 14.258v28.515c0 7.868 21.172 14.257 47.25 14.257h94.5c26.08 0 47.25-6.389 47.25-14.257v-28.515z" fill="none" stroke="#30355d" stroke-width="2.21" transform="matrix(.37037 0 0 1.22743 -354.185 -682.646)"/><text x="220" y="2399" font-family="'EuclidCircularA-Regular','Euclid Circular A',sans-serif" font-size="24" fill="#30355d" transform="translate(-206.057 -2360.347)">PDF</text><path d="M98 5072.91h51" fill="none" stroke="#30355d" stroke-width="2.27" transform="matrix(.7451 0 0 1 -56.02 -5021.561)"/></svg>
                                        p Свидетельство о государственной регистрации продукции в рамках таможенного союза России, Беларуси и Казахстана
                        .show-more.show-more--mobile
                            button показать больше



        include modules/footer.pug
        include modules/menu.pug
        include modules/script.pug