.slick-objects {
    width: 100%;
    @include media-laptop {
        width: 80%;
    }
    @media (max-width: 1700px) {
        width: 100%;
    }
    @include media-tablet-horizontal {
        width: 120%;
    }
    @include media-tablet {
        order: 0;
        width: 160%;
    }
    @include media-mobile {
        width: 190%;
    }
}

.slick-objects__prev {
    margin-right: 20px;
}

.slick-objects__item {
    img {
        height: 495px;
        object-fit: cover;
        @include media-laptop {
            height: 352px;
        }
        @include media-tablet-horizontal {
            height: 338px;
        }
        @include media-tablet {
            height: 282px;
            margin-bottom: 30px;
        }
        @include media-mobile {
            height: 178px;
        }
    }
}
