.slider__counter {
    position: absolute;
    // position: relative;
    display: flex;
    align-items: center;
    // top: 0;
    top: 494px;
    // left: 0;
    left: 100px;
    z-index: 1;
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    pointer-events: none;
    &--blue {
        top: 100px;
        left: 100px;
        color: $color-blue;
        @include media-laptop {
            left: 70px;
        }
        @include media-tablet {
            left: 40px;
        }
        @include media-mobile {
            position: relative;
            top: 0;
            left: 0;
            margin-bottom: 40px;
        }
    }
    @include media-laptop {
        font-size: 30px;
        // top: 308px;
        top: 100px;
        left: 70px;
    }
    @include media-tablet-horizontal {
        font-size: 28px;
        top: 100px;
        left: 55px;
    }
    @include media-tablet {
        font-size: 26px;
        left: 40px;
    }
    @include media-mobile {
        left: 15px;
    }
}

.line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 0 10px;
    &--blue {
        background-color: $color-blue;
    }
    @include media-tablet-horizontal {
        width: 18px;
    }
}

//- slider index
.slick-arrow__prev {
    margin-right: 20px;
}
