.slick-advantage {
    width: 80%;
    .slick-list {
        margin-right: -350px;
    }
    .slick-track {
        display: flex;
    }
    @include media-tablet-horizontal {
        width: 130%;
    }
    @include media-mobile {
        width: 240%;
        height: auto;
        margin-bottom: 50px;
    }
}

.slick-advantage__item {
    position: relative;
    padding-top: 85px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;

    img {
        width: 56px;
        margin-bottom: 38px;
        @include media-tablet {
            width: 50px;
        }
        @include media-mobile {
            width: 43px;
            margin-bottom: 30px;
        }
    }
    p {
        color: #41424d;
        font-size: 18px;
        line-height: 1.5;
        @include media-laptop {
            font-size: 17px;
        }
        @include media-mobile {
            font-size: 15px;
        }
    }
    span {
        position: absolute;
        // display: block;
        width: 80%;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #c4c4c4;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #c4c4c4;
        }
        @include media-tablet-horizontal {
            width: 90%;
        }
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        height: 80%;
        width: 1px;
        background-color: #c4c4c4;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    @include media-tablet-horizontal {
        padding-top: 85px;
        padding-bottom: 60px;
        padding-left: 30px;
        padding-right: 30px;
    }
    @include media-tablet {
        padding-top: 65px;
    }
    @include media-mobile {
        // min-height: 266px;
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.slick-advantage__prev {
    margin-right: 20px;
}

.slick-advantage__arrow {
    &.slick-disabled {
        svg {
            path {
                stroke: rgba(48, 53, 93, 0.5);
            }
        }
    }
}
