.slider-main {
    color: #fff;
}

.slider-main__item.slick-slide {
    background-size: cover;
    padding-bottom: 210px;
    padding-right: 150px;
    // padding-right: 200px;
    @include media-laptop {
        padding-bottom: 160px;
    }
    @include media-tablet {
        padding-bottom: 147px;
    }
    @include media-mobile {
        padding-right: 0;
        padding-bottom: 110px;
        overflow: hidden;
    }
}

.slider-main__title {
    font-size: 70px;
    line-height: 1.3;
    font-weight: 500;
    padding-top: 570px;
    @include media-laptop {
        font-size: 54px;
        padding-top: 370px;
    }
    @include media-tablet-horizontal {
        font-size: 52px;
        padding-top: 320px;
    }
    // @include media-tablet {
    //     font-size: 52px;
    // }
    @include media-mobile {
        font-size: 35px;
        padding-top: 250px;
    }
}
