@import "utils/stylesheet";
@import "./node_modules/normalize.css/normalize";
@import "utils/slick";
@import "utils/variables";
@import "mixins/media";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: $fontBase;
}

body {
    margin: 0;
    line-height: 1;
    color: $color-base;
    font-size: 18px;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    position: relative;
    max-width: 1920px;
    padding: 0 100px;
    width: 100%;
    margin: 0 auto;
    @include media-laptop {
        padding: 0 70px;
    }
    @include media-tablet-horizontal {
        padding: 0 55px;
    }
    @include media-tablet {
        padding: 0 40px;
    }
    @include media-mobile {
        padding: 0 15px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.wide-block {
    padding: 100px 0;
    background-color: #f1f1f1;
    font-size: 32px;
    line-height: 1.5;
    &--small {
        padding: 70px 0;
    }
}

.toggle-btn {
    width: 70px;
    height: 70px;
    background-image: url("../img/svg/minus.svg");
    background-size: cover;
    &--minus {
        display: none;
    }
}

// .toshow {
//     // display: none;
//     width: 324px;
//     position: absolute;
//     background-color: #fff;
//     padding: 20px;
//     border-radius: 15px;
//     border: 1px solid #c5c5c5;
//     color: $color-base;
//     left: -280px;
//     top: -250px;
//     strong {
//         font-size: 16px;
//         font-weight: 400;
//         color: $color-blue;
//     }
// }

.popup-block {
    position: absolute;
    bottom: calc(100% + 20px);
    left: -270px;
    width: 324px;
    color: $color-base;
    // height: 170px;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 15px;
    padding: 20px;
    filter: drop-shadow(2px 2px 10px #c4c4c4);
    &::before {
        content: "";
        position: absolute;
        bottom: -22px;
        right: 20px;
        background-image: url("../img/svg/angle-2.svg");
        background-size: 23px auto;
        width: 23px;
        height: 23px;
    }
}

.page {
    &--mode {
        .footer {
            margin-top: 0;
        }
    }
}
